<% content_for :title, "Crée tes propres listes de références - Omniscient Design" %>
<% content_for :description, "Ici, tu peux retrouver les références de design qui t'ont marqué. Crée tes propres listes pour apprendre, t'inspirer ou encore personnaliser ton expérience. " %>
<style>
  @media screen and (max-width:500px) {
    .button{
      width:fit-content;
    }
  }
</style>
<section class="top-header">
  <h1>Trier, modifier, créer vos listes</h1>
  <p class="subtitle">Créez des listes de références pour retrouver facilement vos sources et concentrez-vous sur ce qui compte vraiment.</p>
</section>
<section class="grid-1">
  <div class="flex-title-list">
    <h2>Vos listes</h2>
    <%= link_to 'Créer votre liste', new_list_path, class:"button dark" %>
  </div>
  <% combined_lists = @lists + @editor_lists + @visitor_lists %>
  <% if combined_lists.any? %>
    <ul>
      <% combined_lists.each do |list| %>
        <li>
          <%= link_to list_path(list) do %>
            <div class="list-card">
              <div>
                <%= list.name %>
                <% if list.share_token.present? %>
                  <p class="share-list">(Liste partagée)</p>
                <%else%>
                  <p class="share-list">(Liste privée)</p>
                <%end%>
              </div>
              <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M19.368 25.0551C19.368 25.0551 25.3693 19.0484 27.7067 16.7098C27.9027 16.5151 28 16.2591 28 16.0031C28 15.7471 27.9027 15.4911 27.7067 15.2965C25.3707 12.9578 19.3707 6.95378 19.3707 6.95378C19.1773 6.76045 18.9227 6.66445 18.668 6.66445C18.4133 6.66578 18.1573 6.76312 17.9613 6.95912C17.5707 7.34978 17.5693 7.98045 17.956 8.36845L24.5907 15.0031H5.00133C4.44933 15.0031 4.00133 15.4511 4.00133 16.0031C4.00133 16.5551 4.44933 17.0031 5.00133 17.0031H24.5907L17.9533 23.6418C17.568 24.0271 17.5707 24.6564 17.9613 25.0471C18.1573 25.2431 18.4133 25.3418 18.668 25.3418C18.9227 25.3431 19.1747 25.2471 19.368 25.0551Z" fill="#202020"/>
              </svg>
            </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  <%else%>
    <div class="no-list">
      <svg width="71" height="71" viewBox="0 0 71 71" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M35.5 33.875V50.125M35.5 20.9075L35.5325 20.8718M35.5 68C53.4497 68 68 53.4497 68 35.5C68 17.5503 53.4497 3 35.5 3C17.5503 3 3 17.5503 3 35.5C3 53.4497 17.5503 68 35.5 68Z" stroke="#52525D" stroke-width="4.875" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
      <p>Aucune liste trouvée pour le moment. Créez-en une pour commencer !</p>
    </div>
  <%end%>
</section>
