<section class="top-header">
  <%= link_to lists_path do%>
    <svg width="22" height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M21 10.2168L1.57848 10.2168M1.57848 10.2168L8.86155 18.4336M1.57848 10.2168L8.86155 2" stroke="white" stroke-width="2" stroke-linecap="square"/>
    </svg>
  <%end%>
  <h1>Créer une liste</h1>
</section>
<section class="grid-1" style="padding-bottom: 96px; padding-top: 32px;">
  <%= render 'form' %>
</section>
