@import 'abstracts/variables';


.flex-title-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-show {
  padding-bottom: 200px;
}

.no-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 25dvh;
  gap: 32px;
  padding-bottom: 96px;
}

.no-list p {
  text-align: center;
  width: 50%;
}

.flex-card-list {
  margin-top: 32px;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5vw;
  padding-bottom: 100px;
}

.delete {
  height: 60px;
  padding: 5px;
  font-weight: 500;
  font-size: 18px;
  aspect-ratio: 1/1;

  fill: #E61818;
  border: none;
  background-color: rgba(230, 24, 24, 0.1);

  &:hover {
    background-color: rgba(230, 24, 24, 0.3);
  }
}

#editButtonForm:hover,
#manageUsersBtn:hover {
  opacity: 0.8;
  cursor: pointer;
}

.list-edit-name {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
}

.form-footer {
  width: calc(80vw - 350px);
  padding: 16px 0;
  background-color: $background-color;
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  gap: 32px;
  justify-content: flex-end;
}

.bottom-list {
  position: fixed;
  bottom: 0;
  right: 0;
  width: calc(100vw - 350px - 128px);
  padding-right: 128px;
  gap: 24px;
  background-color: #fff;
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: end;
  z-index: 99;
}

@media screen and (max-width: 375px) {
  .flex-card-list {
    align-items: center;
    justify-content: center;
  }

  .list-edit-name {
    flex-wrap: wrap;
    padding: 16px 0;
  }
}

@media screen and (min-width:0px) and (max-width:600px) {


  .flex-title-list {
    gap: 16px;
    flex-direction: column;
  }

  .no-list {
    svg {
      scale: 0.8;
    }

    p {
      width: 80%;
    }
  }

  .delete {
    margin-top: 32px;
    padding: 18px;
    font-size: 16px;
    height: 60px;
  }

  .flex-card-list {
    gap: 16px;
  }

}

@media screen and (min-width:501px) and (max-width:800px) {

  .no-list p {
    width: 65%;
  }
}