@import "abstracts/variables";

.logo-log {
  margin-left: 32px;
}

.log {
  position: relative;
  background-image: url("/assets/bg-presentation.webp");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 32px 0;
  min-height: 100vh;
}

.box-log {
  padding: 0px 8vw;
  margin-top: 15dvh;
}

.box-log h1 {
  color: $secondary-color;
  margin-top: 180px;
}

.box-log p {
  color: $secondary-color;
}

.box-log p a {
  color: $secondary-color;
  text-decoration: underline;
  font-weight: 500;
}

.form {
  margin-top: 32px;
  width: 55vw;
  display: flex;
  flex-direction: column;
  gap: 36px;

  height: 100%;
  padding: 30px 50px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.form form {
  width: 100%;
  display: flex;
  gap: 16px;
  flex-direction: column;
}

.sign-up-in {
  font-weight: 300;
  line-height: 130%;
  color: $secondary-color;
  text-align: center;

  &:hover {
    text-decoration: underline;
  }
}

.sign-up-in,
.forgot-password {
  color: #fff;
}

.sign-up-in:hover,
.forgot-password:hover {
  text-decoration: underline;
}

.forgot-password {
  text-align: right;
}

.sign-up-in,
.email-confirmation {
  text-align: center;
}

.email-confirmation {
  color: #ededed;
  font-size: 16px;
}

.btn-login {
  margin-top: 16px;
  width: 22vw;
  height: 65px;
}

.actions {
  margin-left: auto;
}

.password-container {
  position: relative;
}

.password-container .toggle-password {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  fill: $primary-color;
}

.rgpd {
  width: 50vw;
}

.rgpd-label {
  line-height: 130%;
}

.rgpd a {
  color: $secondary-color;
  font-weight: 500;
}

.remember-me {
  margin-top: -32px;
  width: fit-content;
}

.title-boxlog {
  margin: 24px 0;
  font-size: 24px;
  font-weight: 500;
  color: #fff;
}

.flex-login-oauth {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

@media screen and (min-width: 601px) and (max-width: 950px) {
  .log {
    padding-bottom: 96px;
  }

  .box-log {
    padding: 0px 4vw;
  }

  .form {
    width: calc(90vw - 100px);
  }

  .actions {
    margin: 0;
  }

  .btn-login {
    width: 100%;
    height: 65px;
  }

  .rgpd {
    width: 80vw;
  }

  .remember-me {
    margin-top: 8px;
  }

  .forgot-password {
    text-align: left;
  }

  .title-boxlog {
    font-size: 18px;
  }
  .flex-login-oauth {
    flex-direction: column;
  }
}

@media screen and (min-width: 426px) and (max-width: 600px) {
  .box-log h1 {
    margin-top: 165px;
  }

  .logo-log {
    width: 30vw;
    min-width: 160px;
  }
}

@media screen and (min-width: 0px) and (max-width: 600px) {
  .log {
    padding: 0px;
  }

  .box-log {
    margin: 0;
    padding: 0;
    width: 100vw;
  }

  .form {
    margin: 0;
    width: auto;
    height: auto;
    padding: 56px 5vw;
    border-radius: 0;
    padding-bottom: 96px;
  }
  .actions {
    margin: 0;
  }

  .btn-login {
    width: 100%;
    height: 65px;
  }

  .rgpd {
    width: 80vw;
  }

  .remember-me {
    margin-top: 8px;
  }

  .forgot-password {
    text-align: left;
  }

  .title-boxlog {
    font-size: 18px;
  }
  .flex-login-oauth {
    flex-direction: column;
  }
}
