@import 'abstracts/variables';

.logo-top{
    position: absolute;
    z-index: 99;
    left: 5vw;
    top: 45px;
    width: 150px;
}
.top-presentation {
    background-color: $primary-color;
    height: 90vh;
    min-height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.top-presentation .header-landing{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    width: 100%;
}


.text-top-presentation {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.top-presentation h1 {
    font-size: 64px;
    font-weight: 700;
}

.top-presentation h1,
.top-presentation p {
    color: $secondary-color;
    text-align: center;
}

.text-top-presentation {
    width: 65vw;
}

.top-presentation-tag {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background-color: $secondary-color;
    border-radius: 25px;
    padding: 8px 16px;
    width: fit-content;
    font-size: 16px;
}

.btn-section-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.first-image{
    position: absolute;
    left: auto;
    right: auto;
    width: 85vw;
    border-radius: 8px;
    border: solid 8px var(--secondary-color);
}
.image-landing{
    width: 95%;
}

// About us
.about-us h2 {
    font-size: 32px;
}

.about-us {
    padding: 128px 0;
    display: flex;
    flex-direction: column;
    gap: 96px;
}

.image-container {
    display: flex;
    justify-content: end;
    width: 55vw;
    background-color: $secondary-color;
    padding: 56px 0;
}

.about-us .container {
    display: flex;
    align-items: center;
    gap: 64px;
    width: 100%;
}

.about-us .container:nth-child(1) {
    justify-content: end
}

.flex-text {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 30vw;

    .tag {
        text-transform: uppercase;
        color: $primary-color;
        font-weight: 500;
    }

    h2 {
        margin-top: 8px;
    }
}

// citation

.citation {
    background-color: $primary-color;
    padding: 128px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 32px;

    .citation-text {
        width: 55vw;
        font-size: 20px;
        line-height: 180%;
        font-weight: 500;
        text-align: center;
        color: $secondary-color;
    }

    .citation-name {
        font-style: italic;
        color: $secondary-color;
    }
}