@import 'abstracts/variables';

.suggestions-box {
  border: 2px solid #E9E9E9;
  max-height: 400px;
  overflow-y: auto;
  position: absolute;
  background-color: white;
  width: 50vw;
  border-radius: 16px;
  z-index: 100;
  margin-top: 8px;
}

.suggestion-image {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}

.svg-icon {
  width: 40px;
  height: 40px;
  vertical-align: middle;
  margin-right: 16px;
}

.search-img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 5px;
  margin-right: 16px;
}


.suggestion-item {
  padding: 20px 32px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.suggestion-item:hover {
  background-color: #F9F9F9;
}

.section-title {
  font-size: 18px;
  font-weight: 500;
  color: $text-color;
  margin-bottom: 16px;
  margin-left: 32px;
  margin-top: 48px;
}

.searchpage {
  margin-top: 148px;
}

.load-more {
  height: 50px;
  background-color: #f4f4f4;
  text-align: center;
  line-height: 50px;
  font-size: 18px;
  display: none;
}

.load-more:after {
  content: "Chargement...";
  display: inline-block;
  padding-left: 10px;
  font-weight: bold;
}


// Tabs
.tabs {
  display: flex;
  margin-top: 48px;
  border-bottom: 2px solid #E9E9E9;
  gap: 4px;
}

.tab {
  font-size: 16px;
  color: $text-color;
  font-weight: 500;
  border: none;
  background: transparent;
  padding: 12px 32px;

  &.active {
    color: $primary-color;
    font-weight: 600;
    border-bottom: 3px solid $primary-color;
  }
}


.tab:hover {
  cursor: pointer;
  color: $primary-color;
  font-weight: 600;
  border-bottom: 3px solid $primary-color;
}

// filtres
.filters {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.filter {
   flex: 1 1 240px;
}

.flex-category,
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  column-gap: 1.5vw;
  row-gap: 24px;
  padding: 32px 0;
  max-width: 1200px;
}

.dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
}

/* Appliquer un style global aux select */
.select2 {
  display: flex !important;
}

.selection {
  width: 100%;
}

.select2-container .select2-selection {
  border-radius: 4px !important;
  border: 2px solid #E9E9E9 !important;
  padding: 8px;
}

.select2-search__field {
  width: 100% !important;
}

/* Changer la couleur de fond des éléments sélectionnés */
.select2-container--default .select2-results__option[aria-selected="true"] {
  background-color: $primary-color !important;
  color: white !important;
  border-radius: 5px !important;
  font-weight: 500;
}

/* Style du dropdown Select2 */
.select2-dropdown {
  margin-top: 5px !important;
  border-radius: 10px !important;
  border: 2px solid #E9E9E9 !important;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 24px;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background: white;
  border: 1px solid #ccc;
  padding: 10px;
  width: 100%;
  z-index: 10;

  margin-top: 5px !important;
  border-radius: 10px !important;
  border: 2px solid #E9E9E9 !important;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 24px;
}

.dropdown-menu label {
  display: block;
  margin-top: 5px;
  color: $text-color;
}

.dropdown-menu input {
  width: calc(100% - 24px);
  background-color: #F7F7F7;
  padding: 10px 5px;
  text-align: center;
}

.select2-results__options {
  display: flex !important;
  flex-direction: column !important;
  gap: 12px !important;
  max-height: 230px !important;
}

.select2-selection__rendered {
  display: flex !important;
  align-items: center !important;
  gap: 4px;
  overflow-x: auto !important;
  scrollbar-width: thin;
  scrollbar-color: #999 #f0f0f0;
}

.select2-selection__rendered::-webkit-scrollbar {
  height: 4px;
}

.select2-selection__rendered::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 4px;
}

.select2-selection__rendered::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 4px;
  border: 1px solid #f0f0f0;
}

.select2-selection__rendered::-webkit-scrollbar-thumb:hover {
  background-color: #666;
}


/* Style des options sélectionnées */
.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: $primary-color !important;
  /* Couleur noire */
  color: white !important;
  border-radius: 5px !important;
  padding: 8px 12px !important;
  font-size: 16px;
}


/* Assurer que le placeholder est bien visible */
.select2-container--default .select2-selection--single .select2-selection__placeholder,
.select2-container--default .select2-selection--multiple .select2-selection__placeholder {
  display: block !important;
  visibility: visible !important;
  color: #888 !important;
}

.dropdown-toggle {
  width: 100%;
  padding: 10px;
  background: #fff;
  border: 2px solid #e9e9e9;
  color: $text-color !important;
  font-size: 16px;
  cursor: pointer;
  text-align: left;
  border-radius: 4px;
}

.select2-container {
  width: 100% !important;
}

/* Style des options au survol */
.select2-container--default .select2-results__option {
  padding: 12px 24px !important;
  background-color: #F7F7F7 !important;
  border-radius: 5px !important;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: $primary-color !important;
  color: white !important;
  font-weight: 500;
  border-radius: 5px !important;
  font-size: 16px;
  opacity: 0.95;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
  color: rgb(255, 255, 255) !important;
}

/* Affichage du dropdown actif */
.dropdown.active .dropdown-menu {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* Champ d'entrée de date */
.date-filter {
  border-radius: 5px;
  padding: 8px;
  width: 100%;
  border: 2px solid #e9e9e9;
}


.card-designer,
.card-oeuvre {
  background-repeat: no-repeat;
  width: 100%;
  height: 280px;
  border-radius: 10px;
  display: flex;
  align-items: end;
  position: relative;
  padding: 20px;

  &:hover {
    opacity: 0.8;
  }
}

.card-designer::after,
.card-oeuvre::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.title-card-designer,
.title-card-oeuvre {
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 8px;
  color: #FFF;
}

.card-designer .country-card-designer,
.domaine-card-oeuvre {
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  color: #FFF;
}


.inner-card-designer,
.inner-card-oeuvre {
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 425px) {
  .suggestions-box {
    width: 90vw;
  }

  .suggestion-item {
    padding: 12px 24px;
    font-size: 16px;
  }

  .section-title {
    font-size: 16px;
    margin-left: 24px;
    margin-top: 32px;
  }

  // Tabs
  .tabs {
    margin-top: 24px;
    flex-direction: column;
  }

  .tab {
    padding: 16px 32px;
  }


  // filtres
  .filters {
    flex-direction: column;
  }

  .filter {
    width: 100%;
    flex: 1 1 40px;
  }

  .dropdown-menu {
    width: 80%;
  }

  .searchpage {
    margin-top: 124px;
  }

  .flex-category,
  .flex-container {
    row-gap: 16px;
    padding: 24px 0;
  }


  .card-category {
    width: 43vw;
    height: auto;
    padding: 20px 0;
    gap: 16px;

    img {
      width: 40%;
    }
  }

  .card-designer,
  .card-oeuvre {
    height: 240px;
    padding: 15px;
  }

  .title-card-designer,
  .title-card-oeuvre {
    font-size: 20px;
  }
}

@media screen and (min-width:426px) and (max-width: 600px) {
  .suggestions-box {
    width: 85vw;
  }

  .suggestion-item {
    padding: 12px 24px;
  }

  .section-title {
    margin-left: 24px;
    margin-top: 32px;
  }

  // Tabs
  .tabs {
    margin-top: 24px;

  }

  .tab {
    padding: 12px 18px;
  }


  // filtres
  .filters {
    flex-direction: column;
  }

  .filter {
    width: 100%;
    flex: 1 1 40px;
  }

  .dropdown-menu {
    width: 80%;
  }

  .searchpage {
    margin-top: 132px;
  }

  .flex-category,
  .flex-container {
    row-gap: 16px;
    padding: 24px 0;
  }


  .card-category {
    width: 40vw;
    height: auto;
    padding: 20px 0;
    gap: 16px;

    img {
      width: 40%;
    }
  }


  .card-designer,
  .card-oeuvre {
    height: 240px;
    padding: 15px;
  }

  .title-card-designer,
  .title-card-oeuvre {
    font-size: 20px;
  }
}

@media screen and (min-width:601px) and (max-width: 768px) {
  .suggestions-box {
    width: 80vw;
  }

  // Tabs
  .tabs {
    margin-top: 24px;

  }

  .tab {
    padding: 12px 18px;
  }


  // filtres

  .filter {
    width: 30%;
  }

  .dropdown-menu {
    width: 80%;
  }

  .flex-category,
  .flex-container {
    row-gap: 16px;
    padding: 24px 0;
  }

  .card-category {
    width: 27vw;
    height: auto;
    padding: 20px 0;
    gap: 16px;

    img {
      width: 40%;
    }
  }

  .card-designer,
  .card-oeuvre {
    height: 240px;
    padding: 15px;
  }

  .title-card-designer,
  .title-card-oeuvre {
    font-size: 20px;
  }
}

@media screen and (min-width:769px) and (max-width: 1024px) {

  .flex-category,
  .flex-container {
    row-gap: 16px;
    padding: 24px 0;
  }

  .card-category {
    width: 26vw;
    height: auto;
    padding: 20px 0;
    gap: 16px;

    img {
      width: 70px
    }
  }

  .card-designer,
  .card-oeuvre {
    height: 240px;
    padding: 15px;
  }

  .title-card-designer,
  .title-card-oeuvre {
    font-size: 20px;
  }
}

@media screen and (min-width:1025px) and (max-width: 1280px) {

  .flex-category,
  .flex-container {
    column-gap: 16px;
    row-gap: 16px;
    padding: 24px 0;
  }

  .card-category {
    width: 24vw;
    height: auto;
    padding: 20px 0;
    gap: 16px;

    img {
      width: 70px
    }
  }

  .card-designer,
  .card-oeuvre {
    height: 260px;
    padding: 15px;
  }

  .title-card-designer,
  .title-card-oeuvre {
    font-size: 20px;
  }
}

// /* Frise */
.timeline {
  display: flex;
  align-items: end;
  justify-content: space-between;
  padding: 20px;
  overflow-x: auto;
  white-space: nowrap;
  position: relative;
  gap: 54px;
  height: 140px;
  margin: 48px 0
}



.timeline-item {
  display: inline-block;
  text-align: center;
  position: relative;
  width: 50px;
}

.timeline-hr {
  position: absolute;
  bottom: 40px;
  left: 0;
  height: 4px;
  background: $primary-color;
  z-index: -1;
  border: none;
  width: 100%;
}

.year {
  color: $primary-color;
}

.oeuvres {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.oeuvres-container {
  max-height: 100px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.oeuvres-container::-webkit-scrollbar {
  display: none;
}

.hidden-oeuvres {
  display: none;
  flex-direction: column;
  gap: 8px;
}

.oeuvres-counter {
  overflow-y: auto;
  scrollbar-width: none;
}

.oeuvres-counter::-webkit-scrollbar {
  display: none;
}

.oeuvres-counter .hidden-oeuvres {
  margin-top: 8px;
  display: flex;
  align-items: start;
  gap: 8px;
}


.oeuvre {
  width: 35px;
  height: 35px;
  background-color: $primary-color;
  border-radius: 50%;
  cursor: pointer;
  background-size: cover;
}

.oeuvre:hover,
.circle-with-number:hover {
  opacity: 0.8;
  cursor: pointer;
}

.oeuvre.empty {
  width: 15px;
  height: 15px;
  background-color: $primary-color;
  border-radius: 50%;
}

.oeuvre.empty:hover {
  cursor: auto;
  opacity: 1;
}

.oeuvre-frise {
  margin-top: 32px;
}

.circle-with-number {
  font-weight: 500;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: $secondary-color;
  color: $primary-color;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

// Filter frise
.filter {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.filter-box {
  margin-top: 16px;
  display: flex;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
}

.filter-box select {
  width: fit-content;
  height: fit-content;
  padding: 0px;
  background: none;
  border: none;
  color: $text-color;
  font-size: 16px;
}

.filter-button {
  border: none;
  padding: 15px 45px;
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
}


body.dark-mode {
  .tab {
    color: $text-color-dark;

    &.active {
      color: $primary-color-dark;
      border-bottom: 3px solid $primary-color-dark;
    }
  }


  .tab:hover {
    color: $primary-color-dark;
    border-bottom: 3px solid $primary-color-dark;
  }

  .filter-box select {
    color: $text-color-dark;
  }

  .select2-dropdown {
    background-color: $secondary-color-dark;
  }

  .dropdown-menu {
    background-color: $secondary-color-dark;
  }

  .dropdown-menu label {
    color: $text-color-dark;
  }

  .dropdown-menu input {
    background-color: $secondary-color-dark;
  }

  .select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: $primary-color-dark !important;
    color: $secondary-color-dark !important;
  }

  .select2-container--default .select2-results__option {
    background-color: $primary-color-dark !important;
  }

  .select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: $primary-color-dark !important;
    color: $secondary-color-dark !important;
  }
}