@import 'abstracts/variables';

.suggestions-box {
  border: 2px solid #E9E9E9;
  max-height: 400px;
  overflow-y: auto;
  position: absolute;
  background-color: white;
  width: 50vw;
  border-radius: 16px;
  z-index: 100;
  margin-top: 8px;
}

.suggestion-image {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}

.svg-icon {
  width: 40px;
  height: 40px;
  vertical-align: middle;
  margin-right: 16px;
}

.search-img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 5px;
  margin-right: 16px;
}


.suggestion-item {
  padding: 20px 32px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.suggestion-item:hover {
  background-color: #F9F9F9;
}

.section-title {
  font-size: 18px;
  font-weight: 500;
  color: $text-color;
  margin-bottom: 16px;
  margin-left: 32px;
  margin-top: 48px;
}

.searchpage {
  margin-top: 148px;
}

// Tabs
.tabs {
  display: flex;
  margin-top: 48px;
  border-bottom: 2px solid #E9E9E9;
  gap: 4px;
}

.tab {
  font-size: 16px;
  color: $text-color;
  font-weight: 500;
  border: none;
  background: transparent;
  padding: 12px 32px;

  &.active {
    color: $primary-color;
    font-weight: 600;
    border-bottom: 3px solid $primary-color;
  }
}


.tab:hover {
  cursor: pointer;
  color: $primary-color;
  font-weight: 600;
  border-bottom: 3px solid $primary-color;
}

// filtres
.filters {
  display: flex;
}

.flex-category,
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  column-gap: 1.5vw;
  row-gap: 24px;
  padding: 32px 0;
  max-width: 1200px;
}

.dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
}

.dropdown-toggle {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  background: white;
  cursor: pointer;
  text-align: left;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background: white;
  border: 1px solid #ccc;
  padding: 10px;
  width: 100%;
  z-index: 10;
}

.dropdown-menu label {
  display: block;
  margin-top: 5px;
}

.dropdown-menu input {
  width: 100%;
  padding: 5px;
  margin-bottom: 5px;
}

.dropdown.active .dropdown-menu {
  display: block;
}



.card-category {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 24px;
  width: 17vw;
  height: 180px;
  border-radius: 10px;

  &:hover {
    opacity: 0.8;
  }
}

.text-category {
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
}

.card-designer,
.card-oeuvre {
  background-repeat: no-repeat;
  width: 10vw;
  height: 280px;
  border-radius: 10px;
  display: flex;
  align-items: end;
  position: relative;
  padding: 20px;

  &:hover {
    opacity: 0.8;
  }
}

.card-designer::after,
.card-oeuvre::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.title-card-designer,
.title-card-oeuvre {
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 8px;
  color: #FFF;
}

.card-designer .country-card-designer,
.domaine-card-oeuvre {
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  color: #FFF;
}


.inner-card-designer,
.inner-card-oeuvre {
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 425px) {
  .searchpage {
    margin-top: 124px;
  }

  .flex-category,
  .flex-container {
    row-gap: 16px;
    padding: 24px 0;
  }


  .card-category {
    width: 43vw;
    height: auto;
    padding: 20px 0;
    gap: 16px;

    img {
      width: 40%;
    }
  }


  .card-designer,
  .card-oeuvre {
    width: calc(40vw - 20px);
    height: 240px;
    padding: 15px;
  }

  .title-card-designer,
  .title-card-oeuvre {
    font-size: 20px;
  }
}

@media screen and (min-width:426px) and (max-width: 600px) {
  .searchpage {
    margin-top: 132px;
  }

  .flex-category,
  .flex-container {
    row-gap: 16px;
    padding: 24px 0;
  }


  .card-category {
    width: 40vw;
    height: auto;
    padding: 20px 0;
    gap: 16px;

    img {
      width: 40%;
    }
  }


  .card-designer,
  .card-oeuvre {
    width: calc(38vw - 20px);
    height: 240px;
    padding: 15px;
  }

  .title-card-designer,
  .title-card-oeuvre {
    font-size: 20px;
  }
}

@media screen and (min-width:601px) and (max-width: 768px) {

  .flex-category,
  .flex-container {
    row-gap: 16px;
    padding: 24px 0;
  }

  .card-category {
    width: 27vw;
    height: auto;
    padding: 20px 0;
    gap: 16px;

    img {
      width: 40%;
    }
  }

  .card-designer,
  .card-oeuvre {
    width: calc(38vw - 20px);
    height: 240px;
    padding: 15px;
  }

  .title-card-designer,
  .title-card-oeuvre {
    font-size: 20px;
  }
}

@media screen and (min-width:769px) and (max-width: 1024px) {

  .flex-category,
  .flex-container {
    row-gap: 16px;
    padding: 24px 0;
  }

  .card-category {
    width: 26vw;
    height: auto;
    padding: 20px 0;
    gap: 16px;

    img {
      width: 70px
    }
  }

  .card-designer,
  .card-oeuvre {
    width: calc(24vw - 20px);
    height: 240px;
    padding: 15px;
  }

  .title-card-designer,
  .title-card-oeuvre {
    font-size: 20px;
  }
}

@media screen and (min-width:1025px) and (max-width: 1280px) {

  .flex-category,
  .flex-container {
    column-gap: 16px;
    row-gap: 16px;
    padding: 24px 0;
  }

  .card-category {
    width: 24vw;
    height: auto;
    padding: 20px 0;
    gap: 16px;

    img {
      width: 70px
    }
  }

  .card-designer,
  .card-oeuvre {
    width: calc(24vw - 36px);
    height: 260px;
    padding: 15px;
  }

  .title-card-designer,
  .title-card-oeuvre {
    font-size: 20px;
  }
}

// /* Frise */
.timeline {
  display: flex;
  align-items: end;
  justify-content: space-between;
  padding: 20px;
  overflow-x: auto;
  white-space: nowrap;
  position: relative;
  gap: 54px;
  height: 140px;
  margin: 48px 0
}

.timeline-item {
  display: inline-block;
  text-align: center;
  position: relative;
  width: 50px;
}

.timeline-hr {
  position: absolute;
  bottom: 40px;
  left: 0;
  height: 4px;
  background: $primary-color;
  z-index: -1;
  border: none;
  width: 100%;
}

.year {
  color: $primary-color;
}

.oeuvres {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.oeuvres-container {
  max-height: 100px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.oeuvres-container::-webkit-scrollbar {
  display: none;
}

.hidden-oeuvres {
  display: none;
  flex-direction: column;
}

.oeuvres-counter .hidden-oeuvres.visible {
  display: flex;
  align-items: start;
  gap: 8px;
}


.oeuvre {
  width: 35px;
  height: 35px;
  background-color: $primary-color;
  border-radius: 50%;
  cursor: pointer;
  background-size: cover;
}

.oeuvre:hover,
.circle-with-number:hover {
  opacity: 0.8;
  cursor: pointer;
}

.oeuvre.empty {
  width: 15px;
  height: 15px;
  background-color: $primary-color;
  border-radius: 50%;
}

.oeuvre.empty:hover {
  cursor: auto;
  opacity: 1;
}

.oeuvre-frise {
  margin-top: 32px;
}

.circle-with-number {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: $secondary-color;
  color: $primary-color;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

// Filter frise
.filter-box {
  margin-top: 16px;
  display: flex;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
}

.filter-box select {
  width: fit-content;
  height: fit-content;
  padding: 0px;
  background: none;
  border: none;
  color: $text-color;
  font-size: 16px;
}

.filter-button {
  border: none;
  padding: 15px 45px;
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
}