<% 
  target_path = "#"
  
  if notification.link.present?
    target_path = notification.link
  elsif notification.notifiable.present?
    target_path = polymorphic_path(notification.notifiable) rescue "#"
  end
%>
<%= link_to target_path, id: dom_id(notification), class: "notification-item #{notification.status}" do %>
  <div class="notification-content">
    <h4 class="notification-title"><%= notification.title %></h4>
    <p class="notification-message"><%= notification.message %></p>
  </div>
  <div class="notification-meta">
    <span class="time"><%= distance_of_time_in_words(Time.now, notification.created_at) %></span>
    <% if notification.unread? %>
      <div class="notification-dot"></div>
    <% end %>
  </div>
<% end %>