@import 'abstracts/variables';

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 700;
  src: url('IBMPlexSans-Bold.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  src: url('IBMPlexSans-Medium.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  src: url('IBMPlexSans-Regular.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 300;
  src: url('IBMPlexSans-Light.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-family: 'Noto Color Emoji';
  font-style: normal;
  font-weight: 400;
  src: url('NotoColorEmoji-Regular.woff2') format('woff2');
  font-display: swap;
}

h1 {
  font-weight: 500;
  font-size: 32px;
  padding: 10px 0;
}

h2 {
  font-size: 22px;
  font-weight: 500;
  margin: 40px 0 24px 0;
}
h3{
  font-size: 20px;
  font-weight: 500;
  margin: 24px 0 16px 0;
}
p{
  color: $text-color;
  font-size: 18px;
  line-height: 130%;
}
.semi-bold {
  font-weight: 600;
}
.medium {
  font-weight: 500;
}

.underline{
  text-decoration: underline;
}
.date{
  font-weight: 300;
  margin-top: 16px;
}
.center{
  text-align: center;
}
@media screen and (min-width:426px) and (max-width: 600px) {
  h1 {
    font-size: 26px;
  }

  h2 {
    font-size: 21px;
    margin: 24px 0 16px 0;
  }
  h3{
    font-size: 19px;
    margin: 16px 0 8px 0;
  }
  p{
    font-size: 17px;
  }
}
@media screen and (max-width: 425px) {
  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 20px;
    margin: 24px 0 16px 0;
  }
  h3{
    font-size: 18px;
    margin: 16px 0 8px 0;
  }
  p{
    font-size: 16px;
  }
}



@media (prefers-color-scheme: dark) {
  h1,h2,h3 {
    color: $secondary-color;
  }

  p{
    color: $dark-text-color;
  }

  .black{
    color: $secondary-color;
  }
  body.light h1 {
    color: $primary-color;
  }
  body.light h2 {
    color: $primary-color;
  }
  body.light h3{
    color: $primary-color;
  }
  body.light p{
    color: $text-color;
  }

  body.light .black{
    color: $primary-color;
  }
}

@media (prefers-color-scheme: light) {
  h1,h2,h3 {
    color: $primary-color;
  }
  p{
    color: $text-color;
  }

  .black{
    color: $primary-color;
  }
  body.dark h1 {
    color: $secondary-color;
  }
  body.dark h2 {
    color: $secondary-color;
  }
  body.dark h3{
    color: $secondary-color;
  }
  body.dark p{
    color: $dark-text-color;
  }

  body.dark .black{
    color: $secondary-color;
  }
}
