<div id="tip-tab-container" data-controller="tip-tab" class="tip-tab animate-pulse" 
     data-action="mousedown->tip-tab#dragStart touchstart->tip-tab#dragStart mousemove@window->tip-tab#dragMove touchmove@window->tip-tab#dragMove mouseup@window->tip-tab#dragEnd touchend@window->tip-tab#dragEnd">
  
  <div class="tip-tab-content" data-action="click->tip-tab#navigate">
    <span class="tip-text" data-tip-tab-target="text">Aidez nous à financer le projet</span>
    <div class="tip-icon" data-tip-tab-target="icon">
      <svg width="42" height="24" viewBox="0 0 42 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M25.894 5.8418C24.7555 5.8418 23.8669 6.35966 22.8855 6.82715C22.8009 6.81506 22.5954 6.06748 22.4483 6.06748H17.0117V9.30161C17.0117 9.34997 17.981 9.25325 17.981 9.30161V19.9772C17.981 20.0256 17.0117 19.9289 17.0117 19.9772V23.1046H24.2255V19.9772C23.9837 19.951 22.8251 20.08 22.8251 19.816V17.6055C23.3389 17.7063 23.7016 18.0448 24.2255 18.198C32.9647 20.7712 34.204 5.83575 25.894 5.8418ZM24.1993 15.2056C23.7218 15.0827 23.2079 14.1961 23.0729 13.7468C22.7122 12.5478 22.7203 9.65424 24.3061 9.32579C25.4587 9.08801 26.1136 10.4703 26.2607 11.4154C26.4703 12.7473 26.166 15.7134 24.1993 15.2036V15.2056Z" fill="white"/>
      <path d="M5.81538 2.40039V6.06573H8.07624V9.19306H5.81538V14.9621C5.81538 14.9863 6.07935 15.3288 6.10554 15.3449C6.60527 15.6472 7.56241 15.1938 8.07624 15.0165V18.1438C6.26674 18.6879 2.56916 19.0949 1.75308 16.8744C1.41052 15.9414 1.32992 14.4603 1.2876 13.4589C1.22917 12.0423 1.33999 10.6096 1.29365 9.19507H0V6.06976H1.29163V3.80487L5.81336 2.4024L5.81538 2.40039Z" fill="white"/>
      <path d="M14.6437 6.06787V15.0186H15.8285V18.146H9.0459V15.0186C9.0459 14.9703 10.0151 15.067 10.0151 15.0186V9.1952C10.0151 9.14684 9.0459 9.24356 9.0459 9.1952V6.06787H14.6437Z" fill="white"/>
      <path d="M41.9764 1.21338L41.9623 5.67466L40.6183 11.8951L37.4608 11.885L36.1752 5.78548L36.1631 1.21338H41.9785H41.9764Z" fill="white"/>
      <path d="M38.3945 13.1043C40.2564 12.8605 41.8503 14.0957 41.6568 16.0463C41.4372 18.2467 38.1688 18.8028 36.7503 17.2855C35.2954 15.7299 36.3896 13.3663 38.3965 13.1043H38.3945Z" fill="white"/>
      <path d="M10.4827 0.713567C12.2398 -1.01331 15.4599 0.628935 14.8896 3.13362C14.4624 5.01364 11.8872 5.51337 10.5492 4.29025C9.46112 3.29482 9.43291 1.74526 10.4827 0.713567Z" fill="white"/>
      </svg>
    </div>
  </div>
</div>
