<% content_for :title, "Ajoute des références - Omniscient Design" %>
<% content_for :description, "Ici, tu peux ajouter une référence et rejoindre la grande famille des contributeurs d'Omniscient Design ! Mais attention, suis bien les règles." %>
<style>
  .add-flex {
    margin-top: 100px;
    display: flex;
    gap: 5vw;
    min-height: 300px;
  }
  @media screen and (min-width:1025px) and (max-width:1280px){
    .add-flex {
      margin-top: 48px;
      flex-direction:column;
      gap:40px;
    }
  }
  @media screen and (max-width:1024px){
    .add-flex {
      margin-top: 48px;
      flex-direction:column;
      gap:24px;
    }
  }
  .add-elements{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100dvh;
    background-color: #202020;
    h1{
      color: #FFF;
    }
  }
</style>
<section class="grid-1 add-elements">
  <p class="subtitle-top">Votre contribution</p>
  <h1 class="title-add-elements">Ajouter une référence</h1>
  <p class="subtitle">Partagez vos références sur Omniscient Design ! Soumettez vos découvertes et vos connaissances, et notre équipe les validera pour les intégrer à notre base de données. Bientôt, nous récompenserons les contributeurs les plus actifs pour leur précieuse aide !</p>
  <div class="add-flex">
    <%= link_to new_designer_path do %>
      <div class="button-add">
        Designers
      </div>
    <%end%>
    <%= link_to new_oeuvre_path do %>
      <div class="button-add">
        Références
      </div>
    <%end%>
  </div>
</section>
