<section class="top-default-page">
  <%= link_to root_path do %>
    <svg width="22" height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M21 10.2168L1.57848 10.2168M1.57848 10.2168L8.86155 18.4336M1.57848 10.2168L8.86155 2" stroke="white" stroke-width="2" stroke-linecap="square"/>
    </svg>
  <% end %>
  <h1>Conditions Générales d'Utilisation (CGU)</h1>
</section>
<section class="grid-1">
  <p class="black medium">Dernière mise à jour : 26/08/2024</p>
  <p style="margin-top:24px">
    Bienvenue sur le site <a href="https://omniscientdesign.fr" class="black underline" target="_blank">https://omniscientdesign.fr</a> (ci-après "le Site"). En accédant au Site et en utilisant nos services, vous acceptez sans réserve les présentes Conditions Générales d'Utilisation (CGU). Si vous n'acceptez pas ces conditions, veuillez ne pas utiliser le Site.
  </p>
  <h2>1 - Objet</h2>
  <p>
    Les présentes CGU définissent les conditions d'utilisation du Site et des services proposés par Omniscient Design (ci-après "l'Éditeur"). Elles s'appliquent à tout utilisateur du Site (ci-après "l'Utilisateur").
  </p>
  <h2>2 - Accès au Site</h2>
  <p>
    Le Site est accessible gratuitement à tout Utilisateur disposant d’un accès à Internet. Tous les coûts relatifs à l’accès au Site (équipement informatique, logiciels, connexion Internet, etc.) sont à la charge de l'Utilisateur. L'Éditeur met en œuvre tous les moyens raisonnables pour assurer un accès de qualité au Site, mais ne garantit pas la disponibilité permanente des services.<br>
    L'Éditeur peut suspendre, limiter ou interrompre l'accès au Site à tout moment pour des raisons techniques ou de maintenance.
  </p>
  <h2>3 - Inscription et Compte Utilisateur</h2>
  <p>
    <span class="black medium">&nbsp;• Création de compte :</span> La création d'un compte sur le Site est gratuite. L'Utilisateur doit fournir les informations suivantes lors de l'inscription : nom, prénom, email, établissement scolaire, et statut (étudiant, professeur, ou autre).<br>
    <span class="black medium">&nbsp;• Responsabilité :</span> L'Utilisateur s'engage à fournir des informations exactes et à jour. Il est seul responsable de la confidentialité de ses identifiants de connexion. Toute activité réalisée via le compte de l'Utilisateur est réputée être effectuée par ce dernier.<br>
    <br>
    L'Éditeur se réserve le droit de supprimer ou suspendre tout compte utilisateur en cas de non-respect des présentes CGU ou d'utilisation frauduleuse du compte.
  </p>
  <h2>4 - Soumission de Contenu</h2>
  <p>
    <span class="black medium">&nbsp;• Types de contenu :</span> Les Utilisateurs peuvent ajouter leurs propres références et leurs propres références de designers sur le Site.<br>
    <span class="black medium">&nbsp;• Modération :</span> Tous les contenus soumis par les Utilisateurs sont soumis à un processus de modération. L'Éditeur se réserve le droit de supprimer tout contenu jugé inapproprié ou non conforme aux règles du Site.<br>
    <span class="black medium">&nbsp;• Droits de propriété :</span> Les références soumises par les Utilisateurs doivent être libres de droits et ne peuvent pas être protégées par des licences spécifiques telles que Creative Commons. Les Utilisateurs conservent la propriété des références soumises mais les droits d'utilisation restent à la plateforme.
  </p>
  <h2>5 - Propriété Intellectuelle</h2>
  <p>
    L'ensemble des éléments présents sur le Site (textes, images, vidéos, logos, etc.) est protégé par les lois relatives à la propriété intellectuelle et appartient à l'Éditeur ou à ses partenaires. Toute reproduction, distribution, modification ou exploitation de ces éléments sans autorisation préalable est strictement interdite.<br>
    Les contenus soumis par les utilisateurs doivent être libres de droits. En les publiant sur le Site, les Utilisateurs accordent à l'Éditeur une licence non exclusive pour les utiliser dans le cadre du fonctionnement du Site.
  </p>
  <h2>6 - Responsabilité</h2>
  <p>
    L'Éditeur s'efforce de fournir des informations précises et à jour sur le Site, mais ne peut garantir l'exactitude, l'exhaustivité ou la pertinence de ces informations. L'utilisation des informations présentes sur le Site se fait sous la responsabilité exclusive de l'Utilisateur.<br>
    L'Éditeur ne pourra être tenu responsable des dommages directs ou indirects résultant de l’utilisation du Site, y compris les interruptions, bugs, pertes de données, ou virus. En cas de soumission de contenu enfreignant des droits d’auteur, l'Éditeur se réserve le droit de supprimer le contenu concerné.
  </p>
  <h2>7 - Liens Externes</h2>
  <p>
    Le Site peut contenir des liens vers des sites web tiers. L'Éditeur ne peut être tenu responsable du contenu de ces sites tiers ni de leur politique de confidentialité. L'accès à ces sites se fait sous la responsabilité de l'Utilisateur.
  </p>
  <h2>8 - Protection des Données Personnelles</h2>
  <p>
    L'Éditeur s'engage à respecter la confidentialité des données personnelles des Utilisateurs, conformément à sa Politique de Confidentialité disponible <a href="https://omniscientdesign.fr/politiquedeconfidentialite" class="black underline" target="_blank">https://omniscientdesign.fr/politiquedeconfidentialite</a>. Conformément à la réglementation en vigueur (notamment le RGPD), l'Utilisateur dispose de droits d'accès, de rectification, d'effacement et de limitation du traitement de ses données personnelles.
  </p>
  <h2>9 - Cookies</h2>
  <p>
    Le Site utilise des cookies pour améliorer l'expérience utilisateur et analyser l'utilisation du Site. Pour plus d'informations, veuillez consulter notre Politique de Cookies [ici](lien vers la politique de cookies).
  </p>
  <h2>10 - Modification des CGU</h2>
  <p>
    L'Éditeur se réserve le droit de modifier les présentes CGU à tout moment. Les modifications prendront effet dès leur publication sur le Site. Il est conseillé aux Utilisateurs de consulter régulièrement les CGU pour prendre connaissance des éventuelles mises à jour.
  </p>
  <h2>11 - Droit Applicable et Juridiction Compétente</h2>
  <p>
    Les présentes CGU sont soumises au droit français. En cas de litige non résolu à l'amiable, celui-ci sera soumis à la compétence exclusive des tribunaux français.
  </p>
  <h2>12 - Contact</h2>
  <p>
    Pour toute question relative aux présentes CGU, vous pouvez nous contacter à l'adresse suivante : <a href="mailto:contact@omniscientdesign.fr" class="black underline" target="_blank">contact@omniscientdesign.fr</a>
  </p>
</section>
