<% content_for :title, "Rapport de mise à jour - Omniscient Design" %>
<% content_for :description, "Reste au courant des dernières mises à jour d'Omniscient Design... En vrai, qu'est-ce que tu fais là ? Tu es perdu ?" %>
<section class="top-default-page">
  <%= link_to profil_path do %>
    <svg width="22" height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M21 10.2168L1.57848 10.2168M1.57848 10.2168L8.86155 18.4336M1.57848 10.2168L8.86155 2" stroke="white" stroke-width="2" stroke-linecap="square"/>
    </svg>
  <% end %>
  <h1>Rapport de mise à jour</h1>
</section>
<section class="grid-1">
  <h2>Mise à jour du 30 décembre 2024</h2>
  <h3>Nouveautés</h3>
  <p>• Introduction du <span class="black medium">dark mode</span>.<br>
    • Ajout des <span class="black medium">soulignements sur les liens</span> du site pour une meilleure accessibilité.</p>
  <h2>Mise à jour du 29 décembre 2024</h2>
  <h3>Nouveautés</h3>
  <p>• Ajout des <span class="black medium">photos de profil</span>.<br>
    • Amélioration du <span class="black medium">responsive du header</span>.<br>
    • Optimisation du <span class="black medium">responsive du parrainage</span>.<br>
    • Amélioration du <span class="black medium">responsive des notifications</span>.<br>
    • Ajout de plusieurs <span class="black medium">designers dans une référence</span>.<br>
    • Chargement des <span class="black medium">références et designers</span> en mode 8x8 dans la page recherche.<br>
    • Augmentation du nombre de <span class="black medium">notifications disponibles</span>.</p>
  <h2>Mise à jour du 28 décembre 2024</h2>
  <h3>Nouveautés</h3>
  <p>• Amélioration des <span class="black medium">grilles</span> pour un meilleur alignement.<br>
    • Optimisation du <span class="black medium">tri des scripts JavaScript</span>.<br>
    • Mise à jour du <span class="black medium">responsive de la page profil</span>.<br>
    • Ajout de la possibilité d’intégrer des <span class="black medium">références dans une liste</span> directement depuis celle-ci.<br>
    • Résolution des problèmes liés à la <span class="black medium">qualité des images</span>.</p>
  <h2>Mise à jour du 25 décembre 2024</h2>
  <h3>Nouveautés</h3>
  <p>• Mise en place d’un <span class="black medium">responsive global</span>.<br>
    • Ajout du <span class="black medium">système de parrainage</span>.</p>
  <h2>Mise à jour du 23 décembre 2024</h2>
  <h3>Nouveautés</h3>
  <p>• Amélioration du <span class="black medium">responsive des listes</span>.</p>
  <h2>Mise à jour du 8 décembre 2024</h2>
  <h3>Nouveautés</h3>
  <p>• Amélioration du <span class="black medium">responsive des références</span>.<br>
    • Mise en place d’un <span class="black medium">loader</span> pour les transitions.<br>
    • Mise à jour des <span class="black medium">fonts</span> pour une meilleure lisibilité.<br>
    • Amélioration du <span class="black medium">CSS des boutons</span>.<br>
    • Correction des problèmes liés au <span class="black medium">https</span>.</p>
  <p>Consultez les dernières modifications et améliorations apportées.</p>
  <h2>Mise à jour du 15 août 2024</h2>
  <h3>Nouveautés</h3>
  <p>• Ajout de <span class="black medium">l'e-mail de confirmation</span> pour la création de compte.<br>
    • Ajout de la fonctionnalité <span class="black medium">mot de passe oublié</span> pour la connexion.<br>
  </p>
  <h3>Corrections</h3>
  <p>• Correction des <span class="black medium">boutons de retour</span>.<br>
    • Résolution d'un bug empêchant de <span class="black medium">voir les notifications</span>.</p>
  <h2>Mise à jour du 14 août 2024</h2>
  <h3>Nouveautés</h3>
  <p>• Lancement de la <span class="black medium">bêta fermée</span> incluant les fonctionnalités de base.</p>
  <h3>Corrections</h3>
  <p>• Correction des <span class="black medium">images non affichées</span>.</p>
</section>
