<% content_for :title, "Rapport de mise à jour - Omniscient Design" %>
<% content_for :description, "Reste au courant des dernières mises à jour d'Omniscient Design... En vrai, qu'est-ce que tu fais là ? Tu es perdu ?" %>
<section class="top-default-page">
  <%= link_to profil_path do %>
    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M12.632 6.94488C12.632 6.94488 6.63067 12.9516 4.29333 15.2902C4.09733 15.4849 4 15.7409 4 15.9969C4 16.2529 4.09733 16.5089 4.29333 16.7035C6.62933 19.0422 12.6293 25.0462 12.6293 25.0462C12.8227 25.2395 13.0773 25.3355 13.332 25.3355C13.5867 25.3342 13.8427 25.2369 14.0387 25.0409C14.4293 24.6502 14.4307 24.0196 14.044 23.6316L7.40933 16.9969H26.9987C27.5507 16.9969 27.9987 16.5489 27.9987 15.9969C27.9987 15.4449 27.5507 14.9969 26.9987 14.9969H7.40933L14.0467 8.35822C14.432 7.97288 14.4293 7.34355 14.0387 6.95288C13.8427 6.75688 13.5867 6.65822 13.332 6.65822C13.0773 6.65688 12.8253 6.75288 12.632 6.94488Z" fill="white"/>
    </svg>
  <% end %>
  <h1>Rapport de mise à jour</h1>
</section>
<section class="grid-1">

  <h2>Mise à jour du 6 octobre 2025</h2>
  <h3>Nouveautés et corrections</h3>
  <p>• Ajout d'un footer.<br>
     • Corrections de bugs JavaScript.<br>
     • Indication visuelle pour voir si une référence ou un designer est sélectionné dans les listes.<br>
     • Correction de la sélection des dates pour la frise chronologique.</p>

  <h2>Mise à jour du 5 octobre 2025</h2>
  <h3>Nouveautés</h3>
  <p>• Refonte des miniatures.<br>
     • Corrections de la barre de progression sur l’ajout de références et designers.</p>

  <h2>Mise à jour du 4 octobre 2025</h2>
  <h3>Corrections</h3>
  <p>• Correction des bugs d’affichage des sources dans l’édition des références et des designers.<br>
     • Ajout d’un mail personnalisé.</p>

  <h2>Mise à jour du 3 octobre 2025</h2>
  <h3>Nouveautés</h3>
  <p>• Modifications des icônes des domaines.<br>
     • Ajout des traductions.<br>
     • Correction du partage de liste.</p>

  <h2>Mise à jour du 28 septembre 2025</h2>
  <h3>Corrections</h3>
  <p>• Corrections des erreurs JavaScript.</p>

  <h2>Mise à jour du 27 septembre 2025</h2>
  <h3>Nouveautés</h3>
  <p>• Ajout d’un plan du site.<br>
     • Correction du loader pour être en plein écran.</p>

  <h2>Mise à jour du 23 septembre 2025</h2>
  <h3>Corrections</h3>
  <p>• Suppression du système de parrainage.<br>
     • Correction du reCAPTCHA.</p>

  <h2>Mise à jour du 22 septembre 2025</h2>
  <h3>Corrections</h3>
  <p>• Corrections des effets de hover.<br>
     • Rework du switch designer/référence sur la homepage.</p>

  <h2>Mise à jour du 18 septembre 2025</h2>
  <h3>Optimisation</h3>
  <p>• Optimisation du système de recherche.</p>

  <h2>Mise à jour du 17 septembre 2025</h2>
  <h3>Nouveautés</h3>
  <p>• Réimport des références.</p>

  <h2>Mise à jour du 15 septembre 2025</h2>
  <h3>Corrections</h3>
  <p>• Correction du CSS du loader.<br>
     • Ajustement du scroll sur la homepage (Lancement officiel de la bêta).</p>

  <h2>Mise à jour du 8 septembre 2025</h2>
  <h3>Corrections</h3>
  <p>• Corrections des scripts JavaScript et optimisation.</p>

  <h2>Mise à jour du 24 août 2025</h2>
  <h3>Nouveautés</h3>
  <p>• Ajout du kit de presse.<br>
     • Modifications des domaines.</p>

  <h2>Mise à jour du 5 août 2025</h2>
  <h3>Corrections</h3>
  <p>• Corrections mineures diverses.</p>

  <h2>Mise à jour du 5 juin 2025</h2>
  <h3>Optimisation</h3>
  <p>• Optimisation du SEO.</p>

  <h2>Mise à jour du 4 juin 2025</h2>
  <h3>Nouveautés</h3>
  <p>• Fonction recherche des assets sans erreur.</p>

  <h2>Mise à jour du 25 mai 2025</h2>
  <h3>Corrections</h3>
  <p>• Correction d’erreurs liées à GSAP.<br>
     • Ajout du dark mode.</p>

  <h2>Mise à jour du 19 mai 2025</h2>
  <h3>Nouveautés</h3>
  <p>• Ajout de miniatures pour les références et les designers.</p>

  <h2>Mise à jour du 24 avril 2025</h2>
  <h3>Corrections</h3>
  <p>• Correction du scroll horizontal dans les références.</p>

  <h2>Mise à jour du 21 avril 2025</h2>
  <h3>Corrections</h3>
  <p>• Gestion des cookies améliorée.<br>
     • Ajustements CSS du formulaire d’ajout d’une référence.<br>
     • Correction de l’affichage des notions.<br>
     • Correction de l’autocomplétion.</p>

  <h2>Mise à jour du 2 mars 2025</h2>
  <h3>Corrections</h3>
  <p>• Suppression de la page recherche par catégorie.<br>
     • Déplacement de la page recherche dans l’arborescence du site.</p>

  <h2>Mise à jour du 26 février 2025</h2>
  <h3>Nouveautés</h3>
  <p>• Refonte complète de la page de recherche.<br>
     • Optimisation des ressources utilisées par la page.</p>

  <h2>Mise à jour du 24 février 2025</h2>
  <h3>Corrections</h3>
  <p>• Correction du processus de suppression des <span class="black medium">références</span> et des <span class="black medium">designers</span>.<br>
    • Amélioration du suivi des ajouts et suppressions de <span class="black medium">références</span> et de <span class="black medium">designers</span>.</p>

  <h2>Mise à jour du 22 février 2025</h2>
  <h3>Corrections</h3>
  <p>• Séparation du nom et du prénom pour les <span class="black medium">designers</span> dans le formulaire de saisie.<br>
    • Correction du nommage des <span class="black medium">images</span> pour une meilleure gestion.<br>
    • Tri des <span class="black medium">designers</span> désormais effectué par leur nom de famille.</p>

  <h2>Mise à jour du 8 février 2025</h2>
  <h3>Nouveautés</h3>
  <p>• Ajout de la <span class="black medium">favicon</span> et des configurations associées (Apple/Manifest...).<br>
    • Amélioration du <span class="black medium">SEO</span> avec la mise à jour des balises meta.<br>
    • Finalisation de l'ajout et de la possibilité de lier des <span class="black medium">notions</span> aux références.</p>

  <h2>Mise à jour du 2 février 2025</h2>
  <h3>Nouveautés</h3>
  <p>• Simplification du processus d'ajout de <span class="black medium">designers</span> et de <span class="black medium">références</span>.<br>
    • Création d'une page de confirmation lors de la création d'un <span class="black medium">compte utilisateur</span>.</p>

  <h2>Mise à jour du 1 février 2025</h2>
  <h3>Nouveautés</h3>
  <p>• Intégration de <span class="black medium">Google Analytics</span> pour le suivi des données.<br>
    • Ajout de la gestion des <span class="black medium">cookies</span> sur le site.</p>

  <h2>Mise à jour du 20 janvier 2025</h2>
  <h3>Nouveautés</h3>
  <p>• Ajout d'une <span class="black medium">popup</span> informative sur la page d'accueil.<br>
    • Introduction d'une popup pour informer les utilisateurs sur le <span class="black medium">parrainage</span>.<br>
    • Début de l'intégration des <span class="black medium">notions</span> sur le site.</p>

  <h2>Mise à jour du 17 janvier 2025</h2>
  <h3>Corrections</h3>
  <p>• Correction d'un bug lié à la bibliothèque <span class="black medium">GSAP</span> (animations).<br>
    • Correction des liens associés aux <span class="black medium">pays</span>.<br>
    • Amélioration des pages "<span class="black medium">Recherche</span>" et "<span class="black medium">Frise chronologique</span>".</p>

  <h2>Mise à jour du 16 janvier 2025</h2>
  <h3>Corrections</h3>
  <p>• Ajustement du responsive design pour les <span class="black medium">contributions</span>.<br>
    • Correction du comportement responsive du <span class="black medium">loader</span>.</p>

  <h2>Mise à jour du 10 janvier 2025</h2>
  <h3>Nouveautés</h3>
  <p>• Uniformisation des <span class="black medium">icônes</span> à travers le site.</p>

  <h2>Mise à jour du 9 janvier 2025</h2>
  <h3>Nouveautés</h3>
  <p>• Amélioration des effets de survol (<span class="black medium">hover</span>) des boutons.<br>
    • Renommage des "œuvres" en "références".</p>
  <h3>Corrections</h3>
  <p>• Correction d'un problème empêchant aux administrateurs de supprimer un compte utilisateur.</p>

  <h2>Mise à jour du 8 janvier 2025</h2>
  <h3>Nouveautés</h3>
  <p>• Ajout de la liaison entre les cases à cocher (<span class="black medium">checkbox</span>) et leurs labels associés.</p>
  <h3>Corrections</h3>
  <p>• Correction d'un bug JavaScript affectant l'autocomplétion.<br>
    • Correction du CSS pour améliorer l'affichage des cartes sur la page d'accueil.<br>
    • Résolution des problèmes de défilement des cartes.</p>

  <h2>Mise à jour du 7 janvier 2025</h2>
  <h3>Nouveautés</h3>
  <p>• Mise à jour de l'adresse e-mail de contact : <span class="black medium">contact@omniscientdesign.fr</span>.<br>
    • Ajout du CSS pour améliorer l'apparence des éléments de <span class="black medium">select</span>.<br>
    • Accès à la page de recherche désormais disponible sans nécessité de connexion à un compte.</p>
  <h3>Corrections</h3>
  <p>• Suppression de l'envoi automatique d'e-mails pour les rapports de bugs.<br>
    • Retrait des emojis sur le site, notamment dans les boutons.</p>

  <h2>Mise à jour du 30 décembre 2024</h2>
  <h3>Nouveautés</h3>
  <p>• Introduction du <span class="black medium">dark mode</span>.<br>
    • Ajout des <span class="black medium">soulignements sur les liens</span> du site pour une meilleure accessibilité.</p>
  <h2>Mise à jour du 29 décembre 2024</h2>
  <h3>Nouveautés</h3>
  <p>• Ajout des <span class="black medium">photos de profil</span>.<br>
    • Amélioration du <span class="black medium">responsive du header</span>.<br>
    • Optimisation du <span class="black medium">responsive du parrainage</span>.<br>
    • Amélioration du <span class="black medium">responsive des notifications</span>.<br>
    • Ajout de plusieurs <span class="black medium">designers dans une référence</span>.<br>
    • Chargement des <span class="black medium">références et designers</span> en mode 8x8 dans la page recherche.<br>
    • Augmentation du nombre de <span class="black medium">notifications disponibles</span>.</p>
  <h2>Mise à jour du 28 décembre 2024</h2>
  <h3>Nouveautés</h3>
  <p>• Amélioration des <span class="black medium">grilles</span> pour un meilleur alignement.<br>
    • Optimisation du <span class="black medium">tri des scripts JavaScript</span>.<br>
    • Mise à jour du <span class="black medium">responsive de la page profil</span>.<br>
    • Ajout de la possibilité d’intégrer des <span class="black medium">références dans une liste</span> directement depuis celle-ci.<br>
    • Résolution des problèmes liés à la <span class="black medium">qualité des images</span>.</p>
  <h2>Mise à jour du 25 décembre 2024</h2>
  <h3>Nouveautés</h3>
  <p>• Mise en place d’un <span class="black medium">responsive global</span>.<br>
    • Ajout du <span class="black medium">système de parrainage</span>.</p>
  <h2>Mise à jour du 23 décembre 2024</h2>
  <h3>Nouveautés</h3>
  <p>• Amélioration du <span class="black medium">responsive des listes</span>.</p>
  <h2>Mise à jour du 8 décembre 2024</h2>
  <h3>Nouveautés</h3>
  <p>• Amélioration du <span class="black medium">responsive des références</span>.<br>
    • Mise en place d’un <span class="black medium">loader</span> pour les transitions.<br>
    • Mise à jour des <span class="black medium">fonts</span> pour une meilleure lisibilité.<br>
    • Amélioration du <span class="black medium">CSS des boutons</span>.<br>
    • Correction des problèmes liés au <span class="black medium">https</span>.</p>
  <p>Consultez les dernières modifications et améliorations apportées.</p>
  <h2>Mise à jour du 15 août 2024</h2>
  <h3>Nouveautés</h3>
  <p>• Ajout de <span class="black medium">l'e-mail de confirmation</span> pour la création de compte.<br>
    • Ajout de la fonctionnalité <span class="black medium">mot de passe oublié</span> pour la connexion.<br>
  </p>
  <h3>Corrections</h3>
  <p>• Correction des <span class="black medium">boutons de retour</span>.<br>
    • Résolution d'un bug empêchant de <span class="black medium">voir les notifications</span>.</p>
  <h2>Mise à jour du 14 août 2024</h2>
  <h3>Nouveautés</h3>
  <p>• Lancement de la <span class="black medium">bêta fermée</span> incluant les fonctionnalités de base.</p>
  <h3>Corrections</h3>
  <p>• Correction des <span class="black medium">images non affichées</span>.</p>
</section>
