<style>
  .grid-1{
    padding: 0 10vw;
    margin-top: 64px;
    padding-bottom: 45px;
  }
  .top-profil{
    display: flex;
    align-items: center;
    height: 100px;
    padding: 0 5vw;
    gap: 50px;
    background-color: #202020;
  }
  h1{
    color: #FFF;
  }

  h2{
    margin-top: 64px;
    color: #202020;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 18px;
  }
  h3{
    margin-top: 32px;
    color: #202020;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 18px;
  }
  .grid-1 p{
    color:#8D9299;
    font-size: 18px;
    line-height:150%;
  }
  .black{
    color:#202020;
  }
  @media screen and (min-width:0px) and (max-width:349px) {
    .grid-1{
      padding: 0 5vw;
      padding-bottom: 45px;
    }
    .top-profil{
      gap: 16px;
      height: 80px;
    }
    .top-profil svg{
      scale: 0.8;
    }
    h2{
      margin-top: 48px;
      font-size: 16px;
      margin-bottom: 18px;
    }
    .grid-1 p{
      font-size: 14px;
    }
  }
  @media screen and (min-width:350px) and (max-width:800px) {
    .grid-1{
      padding: 0 5vw;
      padding-bottom: 45px;
    }
    .top-profil{
      gap: 25px;
      height: 80px;
    }

    h2{
      margin-top: 48px;
      font-size: 18px;
      margin-bottom: 18px;
    }
    .grid-1 p{
      font-size: 16px;
    }
  }
  @media screen and (min-width:801px) and (max-width:1200px) {
   .grid-1{
    padding: 0 5vw;
    }
    .top-profil{
      gap: 40px;
    }

    h2{
      margin-top: 52px;
      font-size: 20px;
    }
    .grid-1 p{
      font-size: 17px;
      line-height:130%;
    }
  }
</style>
<div class="main-div">
  <section class="top-profil">
    <%= link_to profil_path do %>
      <svg width="22" height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M21 10.2168L1.57848 10.2168M1.57848 10.2168L8.86155 18.4336M1.57848 10.2168L8.86155 2" stroke="white" stroke-width="2" stroke-linecap="square"/>
      </svg>
    <% end %>
    <h1>Rapport de mise à jour</h1>
  </section>
  <section class="grid-1">
    <p>Jorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos</p>
    <h2>Mise à jour du 30 juillet 2024 </h2>
    <h3>Nouveautés</h3>
    <p>• Porem ipsum dolor sit amet, consectetur adipiscing , <br>
      • Porem ipsum dolor sit amet, consectetur adipiscing , <br>
      • Porem ipsum dolor sit amet, consectetur adipiscing , <br>
      • Porem ipsum dolor sit amet, consectetur adipiscing , <br>
      • Porem ipsum dolor sit amet, consectetur adipiscing ,
    </p>
    <h3>Corrections</h3>
    <p>• Porem ipsum dolor sit amet, consectetur adipiscing , <br>
      • Porem ipsum dolor sit amet, consectetur adipiscing , <br>
      • Porem ipsum dolor sit amet, consectetur adipiscing ,
    </p>
    <h2>Mise à jour du 27 juillet 2024 </h2>
    <h3>Nouveautés</h3>
    <p>• Porem ipsum dolor sit amet, consectetur adipiscing , <br>
      • Porem ipsum dolor sit amet, consectetur adipiscing , <br>
      • Porem ipsum dolor sit amet, consectetur adipiscing , <br>
      • Porem ipsum dolor sit amet, consectetur adipiscing , <br>
      • Porem ipsum dolor sit amet, consectetur adipiscing ,
    </p>
    <h3>Corrections</h3>
    <p>• Porem ipsum dolor sit amet, consectetur adipiscing , <br>
      • Porem ipsum dolor sit amet, consectetur adipiscing , <br>
      • Porem ipsum dolor sit amet, consectetur adipiscing ,
    </p>
  </section>
