<div class="log" style="background-color:#202020; color:#FFF; min-height:100vh;">
  <%= image_tag "logo-white.svg", alt: "", class: "logo-log" %>
  <section class="box-log">
    <h1><%= t('email_confirmation.heading') %></h1>
    <div class="form">
        <p>
          <%= t('email_confirmation.message_html', resend_link: link_to(t('email_confirmation.resend'), new_user_confirmation_path)) %>
        </p>
        <%= link_to t('email_confirmation.back_home'), root_path, class: "button large" %>
    </div>
  </section>
</div>
