<% content_for :title, "Politique d'utilisation des cookies - Omniscient Design" %>
<% content_for :description, "Comprenez notre usage des cookies, leur rôle dans votre navigation, et comment les paramétrer selon vos préférences." %>

<section class="top-default-page">
  <%= link_to root_path do %>
    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M12.632 6.94488C12.632 6.94488 6.63067 12.9516 4.29333 15.2902C4.09733 15.4849 4 15.7409 4 15.9969C4 16.2529 4.09733 16.5089 4.29333 16.7035C6.62933 19.0422 12.6293 25.0462 12.6293 25.0462C12.8227 25.2395 13.0773 25.3355 13.332 25.3355C13.5867 25.3342 13.8427 25.2369 14.0387 25.0409C14.4293 24.6502 14.4307 24.0196 14.044 23.6316L7.40933 16.9969H26.9987C27.5507 16.9969 27.9987 16.5489 27.9987 15.9969C27.9987 15.4449 27.5507 14.9969 26.9987 14.9969H7.40933L14.0467 8.35822C14.432 7.97288 14.4293 7.34355 14.0387 6.95288C13.8427 6.75688 13.5867 6.65822 13.332 6.65822C13.0773 6.65688 12.8253 6.75288 12.632 6.94488Z" fill="white"/>
    </svg>
  <% end %>
  <h1>Cookies</h1>
</section>
<section class="grid-1">
  <h2>1 - Utilisation des Cookies </h2>
  <p>Ce site web utilise des cookies pour améliorer votre expérience de navigation. Les cookies sont de petits fichiers texte stockés sur votre ordinateur lorsque vous visitez un site web. Ils sont largement utilisés pour aider les sites à fonctionner correctement, à améliorer leur performance et à fournir des informations aux propriétaires du site.</p>
  <h2>2 - Types de Cookies Utilisés</h2>
  <p>
    <span class="black medium">1. Cookies Essentiels :</span> Ces cookies sont nécessaires au bon fonctionnement du site et ne peuvent pas être désactivés dans nos systèmes. Ils sont généralement définis en réponse à des actions que vous effectuez, comme la demande de services, telles que la connexion ou le remplissage de formulaires.<br>
    <br>
    <span class="black medium">2. Cookies Analytiques :</span> Ces cookies nous permettent de suivre les performances de notre site web, de comprendre comment les visiteurs interagissent avec le site et d'améliorer ses fonctionnalités. Les informations collectées sont anonymes et servent à améliorer notre site.<br>
    <br>
    <span class="black medium"> 3. Cookies de Personnalisation :</span> Ces cookies permettent au site de se souvenir de vos choix et préférences, tels que la langue préférée ou la région dans laquelle vous vous trouvez. Ces informations peuvent être utilisées pour vous offrir une expérience plus personnalisée.
  </p>
  <h2>3 - Sécurité</h2>
  <p>Nous prenons des mesures pour protéger vos informations personnelles contre tout accès non autorisé, utilisation abusive ou divulgation. Cependant, veuillez noter qu'aucune méthode de transmission de données sur Internet ou de stockage électronique n'est totalement sécurisée. Nous ne pouvons donc pas garantir une sécurité absolue.<br>
    Notre site internet possède bien entendu un Certificat SSL (Secure Socket Layer).
  </p>
  <h2>4 - Droit d'Accès, de Modification et de Suppression</h2>
  <p>Vous avez le droit d'accéder, de modifier ou de supprimer les informations personnelles que vous nous avez fournies. Pour cela, veuillez nous contacter à l'adresse suivante : <a href="mailto:contact@omniscientdesign.fr" class="black underline" target="_blank">contact@omniscientdesign.fr</a>. Nous nous efforcerons de répondre à votre demande dans les plus brefs délais.</p>
  <h2>5 - Politique de l'hébergeur</h2>
  <p>Notre hébergeur possède sa propre politique de confidentialité concernant l'utilisation de vos données que vous pouvez consulter en tout temps <a href="https://www.hostinger.fr/politique-de-confidentialite" class="black underline">https://www.hostinger.fr/politique-de-confidentialite</a>.</p>
  <h2>6 - Consentement a notre politique</h2>
  <p>En utilisant notre site, vous consentez à notre politique de confidentialité et que celle-ci puisse être modifiée en tout temps par l'éditeur.</p>
  <h2>Modification  de la Politique de Confidentialité</h2>
  <p>Nous nous réservons le droit de modifier cette politique de confidentialité à tout moment. Toute modification prendra effet dès sa publication sur ce site.</p>
  <% file_path = __FILE__ %>
  <% if File.exist?(file_path) %>
    <% last_update = File.mtime(file_path) %>
    <% formatted_date = last_update.strftime("%d/%m/%Y") %>
    <p class="date" >Dernière mise à jour : <%= formatted_date %></p>
  <% else %>
    <p>Dernière mise à jour : ??/??/????</p>
  <% end %>
</section>
