<style>
  h2{
    margin-top: 64px;
  }
  .grid-1 p{
    color:#8D9299;
    font-size: 18px;
    line-height:130%;
  }
  .black{
    color:#202020;
  }
  @media screen and (min-width:0px) and (max-width:349px) {
    .grid-1{
      padding: 0 5vw;
      padding-bottom: 45px;
    }
    .top-default-page svg{
      scale: 0.8;
    }
    h2{
      margin-top: 48px;
      font-size: 16px;
      margin-bottom: 18px;
    }
    .grid-1 p{
      font-size: 14px;
    }
  }
  @media screen and (min-width:350px) and (max-width:800px) {
    .grid-1{
      padding: 0 5vw;
      padding-bottom: 45px;
    }
    h2{
      margin-top: 48px;
      font-size: 18px;
      margin-bottom: 18px;
    }
    .grid-1 p{
      font-size: 16px;
    }
  }
  @media screen and (min-width:801px) and (max-width:1200px) {
   .grid-1{
    padding: 0 5vw;
    }
    h2{
      margin-top: 52px;
      font-size: 20px;
    }
    .grid-1 p{
      font-size: 17px;
      line-height:130%;
    }
  }
</style>
<div class="main-div">
  <section class="top-default-page">
    <%= link_to root_path do %>
      <svg width="22" height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M21 10.2168L1.57848 10.2168M1.57848 10.2168L8.86155 18.4336M1.57848 10.2168L8.86155 2" stroke="white" stroke-width="2" stroke-linecap="square"/>
      </svg>
    <% end %>
    <h1>Mentions légales</h1>
  </section>
  <section class="grid-1">
    <h2>1 - Informations légales</h2>
    <p>Nom de l'entreprise : <br>
      Forme juridique :  Le siret est :  <br>
      Le Propriétaire est :  <br>
      Adresse postale du propriétaire : <br>
      <br>
      Le Responsable de la publication est :  <br>
      Numéro de téléphone du responsable de la publication : <br>
      Adresse e-mail du responsable de la publication :</p>
    <h2>2 - Hébergement</h2>
    <p>Hostinger <br>
      Hostinger International Ltd <br>
      dont le siège social est situé  61 Lordou Vironos str., 6023 Larnaca, Cyprus<br>
      <br>
      Contactez l’Hébergeur : <a href="mailto:fr@hostinger.com" class="black">fr@hostinger.com</a><br>
      <a href="https://www.hostinger.fr/" class="black" target="_blank">https://www.hostinger.fr/</a></p>
    <h2>3 - Principe</h2>
    <p>Est désigné Utilisateur, tout personne se connectant et utilisant le site susnommé : <span class="black">lien</span>.<br>
      Le site <span class="black">lien</span> est mis à jour régulièrement par Nom Prénom.<br>
      Thomas Riquier s’efforce de fournir sur le site lien des informations les plus précises possibles (sous réserve de modifications apportées depuis leur mise en ligne), mais ne saurait garantir l'exactitude, la complétude et l'actualité des informations diffusées sur son site, qu’elles soient de son fait ou du fait des tiers partenaires qui lui fournissent ces informations. En conséquence, l'utilisateur reconnaît utiliser ces informations données (à titre indicatif, non exhaustives et susceptibles d'évoluer) sous sa responsabilité exclusive.</p>
    <h2>4 -  Accès au site</h2>
    <p>Le site viturna.fr est accessible aux utilisateurs 24/24h, 7/7j, sauf interruption, programmée ou non, pour les besoins de sa maintenance ou en cas de force majeure. <br>
      <br>
      En cas d’impossibilité d’accès au service, viturna.fr s’engage à faire son maximum afin de rétablir l’accès au service et s’efforcera alors de communiquer préalablement aux utilisateurs les dates et heures de l’intervention. viturna.fr ne saurait être tenu pour responsable de tout dommage résultant d’une indisponibilité du service.</p>
    <h2>5 -  Propriété Intellectuelle</h2>
    <P>Tous les contenus présents sur ce site, y compris les textes, les images, les vidéos et les créations graphiques, sont la propriété intellectuelle de Riquier Thomas, sauf indication contraire. Toute utilisation non autorisée de ces contenus sans permission écrite préalable est strictement interdite.</P>
    <h2>6 -  Protection des Données Personnelles</h2>
    <p>Nous recueillons et utilisons vos données personnelles uniquement dans le but de répondre à vos demandes et de fournir nos services. Vos informations ne seront pas vendues, louées ou partagées avec des tiers sans votre consentement. Pour plus d'informations sur la collecte et l'utilisation des données, veuillez consulter notre Politique de Confidentialité.</p>
    <h2>7 - Liens Externes</h2>
    <p>Ce site peut contenir des liens vers des sites web externes. Nous ne sommes pas responsables du contenu ou de la politique de confidentialité de ces sites tiers. L'utilisation de liens externes se fait à vos propres risques.</p>
    <h2>8 - Contact</h2>
    <p>Pour toute question ou préoccupation concernant ces mentions légales, veuillez nous contacter à l'adresse suivante : <span class="black">contact@viturna.fr</span> .</p>
    <h2>Modification des Mentions Légales </h2>
    <p>Nous nous réservons le droit de modifier ces mentions légales à tout moment. Toute modification prendra effet dès sa publication sur ce site.</p>
  </section>
