<style>
  .grid-1 p{
    color:#8D9299;
    font-size: 18px;
    line-height:130%;
  }
  .black{
    color:#202020;
  }
  .date{
    font-weight: 300;
    margin-top: 16px;
  }
  @media screen and (min-width:0px) and (max-width:349px) {
    .grid-1{
      padding: 0 5vw;
      padding-bottom: 45px;
    }

    .top-default-page svg{
      scale: 0.8;
    }
    h2{
      margin-top: 48px;
      font-size: 16px;
      margin-bottom: 18px;
    }
    .grid-1 p{
      font-size: 14px;
    }
  }
  @media screen and (min-width:350px) and (max-width:800px) {
    .grid-1{
      padding: 0 5vw;
      padding-bottom: 45px;
    }
    h2{
      margin-top: 48px;
      font-size: 18px;
      margin-bottom: 18px;
    }
    .grid-1 p{
      font-size: 16px;
    }

  }
  @media screen and (min-width:801px) and (max-width:1200px) {
   .grid-1{
    padding: 0 5vw;
    }
    h2{
      margin-top: 52px;
      font-size: 20px;
    }
    .grid-1 p{
      font-size: 17px;
      line-height:130%;
    }
  }
</style>
<section class="top-default-page">
  <%= link_to root_path do %>
    <svg width="22" height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M21 10.2168L1.57848 10.2168M1.57848 10.2168L8.86155 18.4336M1.57848 10.2168L8.86155 2" stroke="white" stroke-width="2" stroke-linecap="square"/>
    </svg>
  <% end %>
  <h1>Politique de confidentialité</h1>
</section>
<section class="grid-1">
  <p>La présente politique de confidentialité a pour but d'exposer aux utilisateurs du site :
    <br>
    <br>
    La manière dont sont collectées et traitées leurs données à caractère personnel. Doivent être considérées comme données personnelles toutes les données étant susceptibles d'identifier un utilisateur. Il s'agit notamment du prénom et du nom, de l'âge, de l'adresse postale, l'adresse mail, la localisation de l'utilisateur ou encore son adresse IP ;<br>
    Quels sont les droits des utilisateurs concernant ces données ;<br>
    Qui est responsable du traitement des données à caractère personnel collectées et traitées ;<br>
    A qui ces données sont transmises ;<br>
    Eventuellement, la politique du site en matière de fichiers "cookies".<br>
    <br>
    Cette politique de confidentialité complète les mentions légales que les utilisateurs peuvent consulter à l'adresse ci-après : </p>
  <h2>1 -  Collecte et Utilisation des Données Personnelles </h2>
  <p>Lorsque vous visitez notre site web, nous pouvons recueillir certaines informations personnelles que vous choisissez de nous fournir volontairement :    <br>
    Via notre formulaire de contact. Ces informations peuvent inclure votre nom, votre adresse email, votre numéro de téléphone. Elles doivent être obligatoirement renseignées afin de pouvoir vous recontacter pour répondre à votre demande. A défaut, l’envoi du formulaire de contact sera impossible. Viturna sera également à même de traiter toute autre donnée personnelle que l’Utilisateur aura choisi de lui communiquer de manière délibérée, lors de leurs échanges.    <br>
    Vos informations seront conservées trois ans à compter du dernier contact, avant suppression.    <br>
    Via le formulaire d’inscription. Pour toute demande d’inscription réalisée via le formulaire disponible sur la page https://viturna.fr/inscription afin d’accéder à notre espace membre, l’Utilisateur donne son consentement à Viturna, via une case à cocher, pour qu’il traite les données personnelles suivantes : l’adresse email, le prénom, le nom, le numéro de téléphone    <br>
    Vos informations seront conservées 12 mois.    <br>
    <br>
    Nous pouvons également recueillir certaines informations de manière automatique via les cookies    <br>
    En outre, nous pouvons recevoir et enregistrer automatiquement des informations à partir de votre ordinateur et navigateur, y compris votre adresse IP et la page que vous demandez selon vos préférences cookies que vous avez sélectionné via notre bandeau.    <br>
    Nous utilisons ces informations pour répondre à vos demandes et pour fournir nos services de conception web ainsi que pour vous permettre d’accéder à notre espace membre. Vos données personnelles ne seront pas vendues, louées ou partagées avec des tiers sans votre consentement. Sauf dans les cas suivants : si la loi l’exige, si elle est requise pour toute procédure judiciaire, pour prouver ou protéger nos droits légaux.</p>
  <h2>2 - Cookies</h2>
  <p>Notre site peut utiliser des cookies pour améliorer votre expérience de navigation. Les cookies sont de petits fichiers texte stockés sur votre ordinateur lorsque vous visitez un site web. Ils nous aident à analyser le trafic du site et à personnaliser le contenu en fonction de vos préférences. Vous pouvez configurer votre navigateur pour refuser les cookies, mais cela pourrait affecter certaines fonctionnalités de notre site.</p>
  <h2>3 - Sécurité</h2>
  <p>Nous prenons des mesures pour protéger vos informations personnelles contre tout accès non autorisé, utilisation abusive ou divulgation. Cependant, veuillez noter qu'aucune méthode de transmission de données sur Internet ou de stockage électronique n'est totalement sécurisée. Nous ne pouvons donc pas garantir une sécurité absolue.<br>
    Notre site internet possède bien entendu un Certificat SSL (Secure Socket Layer).
  </p>
  <h2>4 - Droit d'Accès, de Modification et de Suppression</h2>
  <p>Vous avez le droit d'accéder, de modifier ou de supprimer les informations personnelles que vous nous avez fournies. Pour cela, veuillez nous contacter à l'adresse suivante : support@viturna.fr. Nous nous efforcerons de répondre à votre demande dans les plus brefs délais.</p>
  <h2>5 - Politique de l'hébergeur</h2>
  <p>Notre hébergeur possède sa propre politique de confidentialité concernant l'utilisation de vos données que vous pouvez consulter en tout temps https://www.hostinger.fr/politique-de-confidentialite.</p>
  <h2>6 - Consentement a notre politique</h2>
  <p>En utilisant notre site, vous consentez à notre politique de confidentialité et que celle-ci puisse être modifiée en tout temps par l'éditeur.</p>
  <h2>Modification  de la Politique de Confidentialité</h2>
  <p>Nous nous réservons le droit de modifier cette politique de confidentialité à tout moment. Toute modification prendra effet dès sa publication sur ce site.</p>
  <% file_path = __FILE__ %>
  <% if File.exist?(file_path) %>
    <% last_update = File.mtime(file_path) %>
    <% formatted_date = last_update.strftime("%d/%m/%Y") %>
    <p class="date" >Dernière mise à jour : <%= formatted_date %></p>
  <% else %>
    <p>Dernière mise à jour : ??/??/????</p>
  <% end %>
</section>
