@import 'abstracts/variables';

header {
  position: fixed;
  width: 250px;
  height: 100vh;
  padding: 0px 50px;
  background-color: $secondary-color;
  overflow-y: scroll;
  z-index: 99;
}

// Logo

.logo-header {
  padding: 8vh 0px;
  display: flex;
  align-items: center;
}
.name-header {
  font-weight: 500;
  color: $primary-color;
  font-size: 24px;
  margin-left: 16px;
}

// Naviguation

.nav-header {
  margin-top: 16px;
}

header ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

header li a {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  font-weight: 500;
  font-size: 20px;
  color: $text-color;
  &:hover{
    opacity: 0.8;
  }
}

header li a svg {
  scale: 0.9;
}

header li .active p {
  color: $primary-color;
  font-size: 20px;
}

header li .active svg path {
  fill: $primary-color;
}
.flex-btn-login {
  margin-top: 5vh;
}

// Button et liens
.button-login {
  width: 160px;
}

.link-header {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-bottom:60px;
}

.link-header a {
  font-size: 16px;
  cursor: pointer;
  color: $text-color;
  &:hover{
    opacity: 0.8;
  }
}


@media screen and (max-width: 320px) {

}
@media screen and (max-width: 425px) {

}
@media screen and (max-width: 600px) {

}



@media screen and (max-width: 768px) {
  header{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 80px;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .nav-header {
    margin: 0;
    height: 100%;

    ul {
      flex-direction: row;
      width: 100%;
      justify-content: space-around;
      align-items: center;

      li  a{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        svg{
          scale: 0.9;
        }

        p {
          font-size: 10px;
        }
      }
    }
  }
  }
  .logo-header, .flex-btn-login, .link-header {
    display: none; // Cacher certains éléments non nécessaires sur mobile
  }
}
