@import 'abstracts/variables';

header {
  position: fixed;
  width: 250px;
  height: 100vh;
  padding: 0px 50px;
  background-color: $secondary-color;
  overflow-y: scroll;
  z-index: 99;
}

// Logo

.logo-header {
  padding: 8vh 0px;
  display: flex;
  align-items: center;
}

.name-header {
  font-weight: 500;
  color: $primary-color;
  font-size: 24px;
  margin-left: 16px;
}

// Naviguation

.nav-header {
  margin-top: 16px;
}

header ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

header li a {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  font-weight: 500;
  font-size: 19px;
  color: $text-color;

  &:hover {
    opacity: 0.8;
  }
}

header li a svg {
  scale: 0.9;
}

header li .active {
  color: $primary-color;
  font-size: 19px;
  font-weight: 600;
}

header li .active svg path {
  fill: $primary-color;
}

.flex-btn-login {
  margin-top: 5vh;
}

// Button et liens
.button-login {
  width: 160px;
}

.link-header {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-bottom: 60px;
}

.link-header a {
  font-size: 16px;
  cursor: pointer;
  color: $text-color;

  &:hover {
    opacity: 0.8;
  }
}







/* Petit desktop */
@media screen and (max-width: 1280px) {
  header {
    width: 20vw;
    height: 100vh;
    padding: 0px 5vw;
  }

  // Logo

  .logo-header {
    padding: 8vh 0px;
  }

  .name-header {
    font-size: 20px;
    margin-left: 16px;
  }

  // Naviguation

  .nav-header {
    margin-top: 16px;
  }

  header ul {
    gap: 20px;
  }

  header li a {
    gap: 16px;
    font-size: 18px;
  }

  header li a svg {
    scale: 0.8;
  }

  header li .active {
    font-size: 18px;
  }

  .flex-btn-login {
    margin-top: 5vh;
  }

  // Button et liens
  .button-login {
    width: fit-content;
    font-size: 14px;
  }

  .link-header {
    margin-top: 10vh;
    padding-bottom: 60px;
  }

  .link-header a {
    font-size: 16px;
  }
}
@media screen and (max-width: 1024px) {
  header {
    width: 20vw;
    height: 100vh;
    padding: 0px 5vw;
  }

  // Logo

  .logo-header {
    padding: 8vh 0px;
  }

  .name-header {
    font-size: 20px;
    margin-left: 16px;
  }

  // Naviguation

  .nav-header {
    margin-top: 16px;
  }

  header ul {
    gap: 20px;
  }

  header li a {
    gap: 16px;
    font-size: 18px;
  }

  header li a svg {
    scale: 0.8;
  }

  header li .active p {
    font-size: 18px;
  }

  .flex-btn-login {
    margin-top: 5vh;
  }

  // Button et liens
  .button-login {
    width: fit-content;
    font-size: 14px;
  }

  .link-header {
    margin-top: 10vh;
    padding-bottom: 60px;
  }

  .link-header a {
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  header {
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 80px;
    padding: 0px 50px;
  }

  // Logo

  .logo-header {
    display: none;
  }

  .name-header {
    font-size: 24px;
    margin-left: 16px;
  }

  // Naviguation

  .nav-header {
    margin-top: 16px;
  }

  header ul {
    display:inline-block;
  }
  header ul li{
    display: inline;

  }

  header li a {
    flex-direction: column;
    gap: 16px;
    font-size: 19px;
    width: 17vw;
  }

  header li a svg {
    scale: 0.9;
  }

  header li .active {
    font-size: 19px;
  }

  .flex-btn-login {
    margin-top: 5vh;
  }

  // Button et liens
  .button-login {
    width: 160px;
  }

  .link-header {
    margin-top: 10vh;
    gap: 16px;
    padding-bottom: 60px;
  }

  .link-header a {
    font-size: 16px;
  }
}
