<style>
  body {
    background-color: #202020;
    color: #FFF;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
  }
  h1 {
    font-size: 50px;
  }
  p {
    font-size: 20px;
  }
  a {
    color: #FFF;
    text-decoration: underline;
  }
</style>
<h1>404</h1>
<p>Oups ! La page que vous cherchez n'existe pas.</p>
<p><%= link_to 'Retour à l\'accueil', root_path %></p>
