<section class="grid-1" style="height: 100vh; display: flex; flex-direction: column; justify-content: center; align-items: center; gap:16px">
  <%= image_tag "422.svg", alt: "", class: "home-index" %>
  
  <p class="subtitle-top" style="color: #202020;"><%= t('errors.422.subtitle') %></p>
  <h1 class="center"><%= t('errors.422.title') %></h1>
  <%= link_to t('errors.422.back_home'), root_path, class: "button dark" %>
</section>
