// Default (light mode)
$primary-color: #202020;
$secondary-color: #fff;
$background-color: #F7F7F7;
$text-color: #52525D;

// Dark mode theme
$primary-color-dark: #fff;
$secondary-color-dark: #272729;
$background-color-dark: #18181A;
$text-color-dark: #E9E9E9;