<div class="log" style="background-color:#202020; color:#FFF; min-height:100vh;">
  <section class="box-log">
    <h1>Mot de passe oublié ?</h1>
    <div class="form">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <div class="field">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
        </div>
        <div class="actions">
          <%= f.submit "Recevoir les instructions", class:"button dark btn-login" %>
        </div>
      <% end %>
    </div>
  </section>
</div>
