@import "abstracts/variables";
/* Alert */

.alert {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
  width: 60vw;
  top: 100px;
  padding: 20px;
  background-color: $primary-color;
  color: $secondary-color;
  opacity: 1;
  transition: opacity 0.6s;
  border-radius: 10px;
  color: #fff;
}
.alert p {
  color: #fff;
}
.closebtn {
  margin-left: 15px;
  color: $secondary-color;
  font-weight: bold;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    color: #e9e9e9;
  }
}

/* Progress Bar */
.progress-container {
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #ddd;
  border-radius: 0px 0px 10px 10px;
}

.progress-bar {
  width: 0;
  height: 100%;
  background-color: $primary-color;
  transition: width 0.1s;
  border-radius: 0px 0px 10px 10px;
}

@media screen and (min-width: 0px) and (max-width: 600px) {
  .alert {
    width: 80vw;
    top: calc(
      50px + var(--safe-area-top-android, env(safe-area-inset-top, 0px))
    );
  }
}
