@import "abstracts/variables";

.button {
  display: block;
  padding: 20px 45px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

.large {
  padding: 25px 125px;
}

.button.dashed {
  background: transparent;
  border: 1px dashed #ccc;
  color: #fff;
}
.button.dashed:hover {
  background-color: $secondary-color;
  color: $primary-color;
}

// Add Element
.button-add {
  font-weight: 500;
  font-size: 22px;
  border-radius: 10px;
  width: 22vw;
  aspect-ratio: 1/0.5;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    opacity: 0.8;
  }
}

// Arrow button
.arrow-button {
  width: 80px;
  height: 80px;
  background-color: $primary-color;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  display: flex;

  &:hover {
    background-color: #3c3c3c;
  }

  &:active {
    background-color: #1b1b1b;
  }
}

// Circle
.circle {
  background-color: $primary-color;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
  cursor: pointer;

  &:hover {
    background-color: #3c3c3c;
  }

  &:active {
    background-color: #1b1b1b;
  }
}

//Save
.flex-right-btn {
  display: flex;
  gap: 16px;
  position: absolute;
  top: 50px;
  right: 5vw;
  z-index: 999;
}

//Notif
.circle-notif {
  width: 60px;
  height: 60px;
  position: relative;
}

.notification-counter {
  position: absolute;
  right: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -10px;
  background-color: #fff;
  color: $primary-color;
  border-radius: 50%;
  font-size: 12px;
  width: 30px;
  height: 30px;
}

.notification-badge-profil {
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 4px 8px;
  font-size: 12px;
}

// Retour

.circle-back {
  background-color: rgba(32, 32, 32, 0.4);
  border-radius: 50%;
  width: 75px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.circle-back:hover,
.circle-save:hover {
  opacity: 0.8;
}

#back-btn,
#home-btn {
  background: none;
  border: none;
  cursor: pointer;
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
  //ADD
  .button-add {
    font-size: 20px;
    width: 40vw;
  }

  .large {
    padding: 25px 86px;
  }
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
  .large {
    padding: 21px 64px;
  }

  .circle {
    width: 60px;
    height: 60px;

    svg {
      scale: 0.8;
    }
  }

  .circle-back {
    width: 60px;
    height: 60px;

    svg {
      scale: 0.8;
    }
  }

  .circle-notif {
    width: 55px;
    height: 55px;

    svg {
      scale: 0.8;
    }
  }

  // Arrow button
  .arrow-button {
    width: 70px;
    height: 70px;

    svg {
      scale: 0.8;
    }
  }

  //Save
  .circle-save {
    width: 60px;
    height: 60px;

    svg {
      scale: 0.9;
    }
  }

  //ADD
  .button-add {
    font-size: 20px;
    width: 60vw;
  }
}

@media screen and (min-width: 426px) and (max-width: 600px) {
  .large {
    padding: 25px 66px;
    width: 100%;
  }

  .circle {
    width: 65px;
    height: 65px;

    svg {
      scale: 0.8;
    }
  }

  .circle-notif {
    width: 50px;
    height: 50px;

    svg {
      scale: 0.7;
    }
  }

  // BACK
  .circle-back {
    top: 40px;
    width: 65px;
    height: 65px;

    svg {
      scale: 0.8;
    }
  }

  //SAVE
  .circle-save {
    top: 40px;
    width: 65px;
    height: 65px;
  }

  //ADD
  .button-add {
    font-size: 18px;
    width: 60vw;
  }
}

@media screen and (min-width: 376px) and (max-width: 425px) {
  .button {
    width: 100%;
    padding: 20px 15px;
    font-size: 15px;
  }

  .circle {
    width: 65px;
    height: 65px;

    svg {
      scale: 0.8;
    }
  }

  .circle-notif {
    width: 45px;
    height: 45px;

    svg {
      scale: 0.7;
    }
  }

  // BACK
  .circle-back {
    top: 35px;
    width: 65px;
    height: 65px;

    svg {
      scale: 0.8;
    }
  }

  //SAVE
  .circle-save {
    top: 35px;
    width: 65px;
    height: 65px;
  }

  //ADD
  .button-add {
    font-size: 18px;
    width: 90vw;
  }
}

@media screen and (max-width: 375px) {
  .flex-right-btn {
    gap: 4px;
  }

  .button {
    width: 100%;
    padding: 20px 15px;
    font-size: 14px;
  }

  .circle {
    width: 60px;
    height: 60px;

    svg {
      scale: 0.8;
    }
  }

  .circle-notif {
    width: 45px;
    height: 45px;

    svg {
      scale: 0.6;
    }
  }

  // BACK
  .circle-back {
    top: 25px;
    width: 60px;
    height: 60px;

    svg {
      scale: 0.8;
    }
  }

  //SAVE
  .circle-save {
    top: 25px;
    width: 60px;
    height: 60px;
  }

  //ADD
  .button-add {
    font-size: 16px;
    width: 90vw;
  }
}

.button {
  color: $primary-color;
  background-color: $secondary-color;

  &:hover {
    background-color: $background-color;
  }

  &:active {
    background-color: #dbdbdb;
  }
}

.dark {
  background-color: $primary-color;
  color: $secondary-color;

  &:hover {
    background-color: #3c3c3c;
  }

  &:active {
    background-color: #1b1b1b;
  }
}

.button-add {
  background-color: $secondary-color;
  color: $primary-color;
}

body.dark-mode {
  .button-add {
    background-color: $secondary-color-dark;
    color: $primary-color-dark;
  }

  .button {
    color: $primary-color-dark;
    background-color: $secondary-color-dark;

    &:hover {
      background-color: $background-color-dark;
    }
  }

  .dark {
    background-color: #333333;
  }
}
