@import 'abstracts/variables';

.img-card {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 5px;
  z-index: 0;
  opacity: 1;
  transform: rotate(-6deg);
  z-index: -1;
  object-fit: cover;
}

.card {
  padding-top: 190px;
  width: 50vw;
}

.bg-card {
  transform: rotate(6deg);
  border-radius: 5px;
  width: 50vw;
  height: 350px;
  position: relative;
}

.bg-card .date-main{
  top: 48px;
  position: absolute;
  transform: rotate(-6deg);
  background-color: rgba(32, 32, 32, 0.4);
  color: #FFF;
  font-size: 20px;
}
.bg-card .date-main, .bg-card .domaine-main{
  scale: 0.9;
}
.bg-card .domaine-main{
  right: 25px;
  top: 0;
  position: absolute;
  transform: rotate(-6deg);
  background-color: rgba(32, 32, 32, 0.4);
  color: #FFF;
  font-size: 20px;
}
.title-card {
  margin-top: 8px;
  font-size: 36px;
  letter-spacing: -1%;
  font-weight: 500;
}

.subtitle-card {
  color: $primary-color;
  text-transform: uppercase;
  font-size: 20px;
  margin-top: 32px;
  display: flex;
  a{
    color: $primary-color;
  }
}

.container-text-card {
  padding: 0 36px;
}

.title-description-card {
  margin-top: 48px;
  font-size: 24px;
  font-weight: 500;
}

.description-card {
  margin-top: 16px;
  color: $text-color;
  overflow-wrap: break-word;
}

.description-card-home {
  max-height: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}


@media screen and (min-width:769px) and (max-width: 1024px) {

  .card {
    width: 60vw;
  }

  .bg-card {
    width: 60vw;
    height: 55vh;
  }

  .bg-card .date-main{
    top: 42px;
    scale: 0.8;
    font-size: 18px;
  }
  .bg-card .domaine-main{
    top: 0cqw;
    scale: 0.8;
    font-size: 18px;
  }

  .title-card {
    font-size: 30px;
  }

  .subtitle-card {
    font-size: 18px;
    margin-top: 16px;
  }

  .container-text-card {
    padding: 0px;
  }

  .title-description-card {
    display: none;
  }

  .description-card {
    display: none;
  }
}

@media screen and (min-width:601px) and (max-width: 768px) {
  .img-card {
    transform: rotate(-4deg);
  }

  .bg-card {
    transform: rotate(4deg);
  }
  .card {
    padding-top: 140px;
    width: 80vw;
  }

  .bg-card {
    width: 80vw;
    height: calc(90vh - 280px);
    max-height: 700px;
  }

  .bg-card .date-main{
    transform: rotate(-4deg);
    top: 26px;
    scale: 0.8;
    font-size: 18px;
  }
  .bg-card .domaine-main{
    width: fit-content;
    transform: rotate(-4deg);
    right: 24px;
    top: 0;
    scale: 0.8;
    font-size: 18px;
  }

  .title-card {
    font-size: 30px;
  }

  .subtitle-card {
    font-size: 18px;
    margin-top: 24px;
  }

  .container-text-card {
    padding: 0px;
  }

  .title-description-card {
    display: none;
  }

  .description-card {
    display: none;
  }
}
@media screen and (min-width:426px) and (max-width: 600px) {
  .img-card {
    transform: rotate(-4deg);
  }

  .bg-card {
    transform: rotate(4deg);
  }
  .card {
    padding-top: 100px;
    width: 90vw;
  }

  .bg-card {
    width: 90vw;
    height: calc(90vh - 200px);
    max-height: 700px;
  }

  .bg-card .date-main{
    transform: rotate(-4deg);
    top: 24px;
    scale: 0.8;
    font-size: 18px;
  }
  .bg-card .domaine-main{
    width: fit-content;
    transform: rotate(-4deg);
    right: 24px;
    top: 0;
    scale: 0.8;
    font-size: 18px;
  }

  .title-card {
    font-size: 28px;
  }

  .subtitle-card {
    font-size: 18px;
    margin-top: 24px;
  }

  .container-text-card {
    padding: 0px;
  }

  .title-description-card {
    display: none;
  }

  .description-card {
    display: none;
  }
}
@media screen and (max-width: 425px) {
  .img-card {
    transform: rotate(0deg)
  }

  .bg-card {
    transform: rotate(0deg);
  }
  .card {
    padding-top: 80px;
    width: 90vw;
  }

  .bg-card {
    width: 90vw;
    height: calc(90vh - 180px);
    max-height: 700px;
  }

  .bg-card .date-main{
    transform: rotate(0deg);
    top: 16px;
    scale: 0.8;
    font-size: 18px;
  }
  .bg-card .domaine-main{
    width: fit-content;
    transform: rotate(0deg);
    left: -8px;
    top: 64px;
    scale: 0.8;
    font-size: 18px;
  }

  .title-card {
    font-size: 26px;
  }

  .subtitle-card {
    font-size: 16px;
    margin-top: 16px;
  }

  .container-text-card {
    padding: 0px;
  }

  .title-description-card {
    display: none;
  }

  .description-card {
    display: none;
  }
}
