@import 'abstracts/variables';
// Recherche

input.search-top-bar {
  border-radius: 50px;
  font-size: 17px;
  padding: 5px 10px;
  padding-left: 50px;
  width: 40vw;
  height: 55px;
  border: none;
  position: relative;
}

input[type=search] {
  margin-right: 16px;
}

@media screen and (min-width:769px) and (max-width: 1024px) {
  input.search-top-bar {
    font-size: 16px;
    height: 50px;
  }
}
@media screen and (min-width:426px) and (max-width: 768px) {
  input.search-top-bar {
    font-size: 14px;
    height: 50px;
    width: 58vw;
  }
}
@media screen and (min-width:0px) and (max-width: 425px) {
  input.search-top-bar {
    font-size: 14px;
    height: 50px;
    width: 55vw;
  }

}
.field{
  width: 100%;
}
input[type=text],
input[type=date],
input[type=email],
input[type=password] {
  border: none;
  stroke: none;
  padding-left: 25px;
  width: calc(100% - 31px);
  height: 70px;
  border-radius: 5px;
  border: 2px solid #E9E9E9;
  font-weight: 500;
}

select {
  width: 100%;
  border: none;
  stroke: none;
  padding-left: 25px;
  height: 70px;
  border-radius: 5px;
  border: 2px solid #E9E9E9;
  font-weight: 500;
}
.select2{
  width: 100% !important;
}
/* Forcer la hauteur du champ */
.select2-container .select2-selection--single {
  padding-left: 25px !important;
  height: 70px !important; /* Fixe la hauteur */
  line-height: 70px !important; /* Centre verticalement le texte */
  display: flex!important;; /* Assure un alignement flexible */
  align-items: center!important;; /* Aligne verticalement le contenu */
}

.select2-container .select2-results__option {
  padding: 10px !important
}
.select2-container .select2-selection__placeholder{
  font-size: 14px !important;
}

textarea {
  border: none;
  stroke: none;
  padding-top: 25px;
  padding-left: 25px;
  width: calc(100% - 31px);
  height: 120px;
  resize: none;
  border: 2px solid #E9E9E9;
  border-radius: 5px;
}
@media screen and (min-width:769px) and (max-width: 1024px) {

  select {
    width: calc(50vw + 30px);
  }

  textarea {
    width: 50vw;
   }
}
@media screen and (min-width:601px) and (max-width: 768px) {

  input[type=text],
  input[type=date],
  input[type=email],
  input[type=password] {
    width: calc(100% - 18px);
    font-size: 15px;
    &::placeholder {
      font-size: 15px;
    }
  }

  select {
    width: calc(100% + 2px);
    font-size: 15px;
    &::placeholder {
      font-size: 15px;
    }
  }

  textarea {
    width: calc(100% - 18px);
    height: 120px;
    font-size: 15px;
    &::placeholder {
      font-size: 15px;
    }
  }
}
@media screen and (min-width:376px) and (max-width: 600px) {

  input[type=text],
  input[type=date],
  input[type=email],
  input[type=password] {
    width: calc(100% - 20px);
    padding-left: 15px;
    height: 60px;
    font-size: 15px;
    &::placeholder {
      font-size: 15px;
    }
  }

  select {
    width: calc(100% + 2px);
    padding-left: 15px;
    height: 60px;
    font-size: 15px;
    &::placeholder {
      font-size: 15px;
    }
  }

  textarea {
    width: calc(100% - 20px);
    padding-left: 15px;
    height: 120px;
    font-size: 15px;
    &::placeholder {
      font-size: 15px;
    }
  }
}
@media screen and (max-width: 375px) {

  input[type=text],
  input[type=date],
  input[type=email],
  input[type=password] {
    width: calc(100% - 25px);
    padding-left: 15px;
    height: 55px;
    font-size: 14px;
    &::placeholder {
      font-size: 14px;
    }
  }

  select {
    width: calc(100% + 2px);
    padding-left: 15px;
    height: 55px;
    font-size: 14px;
    &::placeholder {
      font-size: 14px;
    }
  }

  textarea {
    width: calc(100% - 25px);
    padding-left: 15px;
    height: 120px;
    font-size: 14px;
    &::placeholder {
      font-size: 14px;
    }
  }
}

.profile-picture{
  border-radius: 150px;
  width: 150px;
  height: 150px;
  object-fit: cover;
}


// @media (prefers-color-scheme: dark) {
//   input.search-top-bar {
//     background-color: $primary-color;
//     color: $secondary-color;
//   }
//   input[type=text],
//   input[type=date],
//   input[type=email],
//   input[type=password] {
//     background-color: $dark-background-color;
//     color: $secondary-color;
//     border: 2px solid #525252;
//   }
//   input::placeholder,
//   select::placeholder,
//   textarea::placeholder {
//     color: $dark-text-color;
//   }
//   select {
//     background-color: $dark-background-color;
//     color: $secondary-color;
//     border: 2px solid #525252;
//   }

//   textarea {
//     background-color: $dark-background-color;
//     border: 2px solid #525252;
//   }

//   body.light input.search-top-bar{
//     background-color: $secondary-color;
//     color: $primary-color;
//   }
//   body.light input[type=text],
//   body.light input[type=date],
//   body.light input[type=email],
//   body.light input[type=password] {
//     background-color: $secondary-color;
//     color: $primary-color;
//   }
//   body.light input::placeholder,
//   body.light select::placeholder,
//   body.light textarea::placeholder {
//     color: $text-color;
//   }
//   body.light select {
//     background-color: $secondary-color;
//     color: $primary-color;
//   }

//   body.light textarea {
//     background-color: $secondary-color;
//   }
// }

  input.search-top-bar {
    background-color: $secondary-color;
    color: $primary-color;
  }
  input[type=text],
  input[type=date],
  input[type=email],
  input[type=password],
  .select2-container .select2-selection__placeholder  {
    background-color: $secondary-color !important;
    color: $primary-color !important;
  }
  input::placeholder,
  select::placeholder,
  textarea::placeholder {
    color: $text-color;
  }
  select {
    background-color: $secondary-color;
    color: $primary-color;
  }

  textarea {
    background-color: $secondary-color;
  }



  body.dark input.search-top-bar {
    background-color: $primary-color;
    color: $secondary-color;
  }
  body.dark input[type=text],
  body.dark input[type=date],
  body.dark input[type=email],
  body.dark input[type=password] {
    background-color: $dark-background-color;
    color: $secondary-color;
    border: 2px solid #525252;
  }
  body.dark input::placeholder,
  body.dark select::placeholder,
  body.dark textarea::placeholder {
    color: $dark-text-color;
  }
  body.dark select {
    background-color: $dark-background-color;
    color: $secondary-color;
    border: 2px solid #525252;
  }
  body.dark textarea {
    background-color: $dark-background-color;
    border: 2px solid #525252;
  }
