@import "abstracts/variables";

.list-card {
  background-color: $secondary-color;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $primary-color;
  font-weight: 500;
  border-radius: 5px;
  margin-top: 16px;
  font-size: 18px;
  position: relative;

  &:hover {
    background-color: #ededed;
    cursor: pointer;
  }
}

.list-card div {
  gap: 8px;
  display: flex;
}

.share-list {
  font-weight: 400;
  font-size: 16px;
}

@media screen and (min-width: 0px) and (max-width: 500px) {
  .list-card {
    font-size: 15px;
    padding: 20px;

    svg {
      scale: 0.8;
    }
  }
}

body.dark-mode {
  .list-card {
    background-color: $secondary-color-dark;
    color: $primary-color-dark;

    &:hover {
      opacity: 0.8;
    }
  }

  .list-card svg path {
    fill: $primary-color-dark;
  }
}
