@import 'abstracts/variables';


.list-card {
  background-color: $secondary-color;
  padding: 25px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $primary-color;
  font-weight: 500;
  border-radius: 5px;
  margin-top: 16px;
  position: relative;

  &:hover{
    background-color: #EDEDED;
    cursor: pointer;
  }

}

@media screen and (min-width:0px) and (max-width:500px) {
  .list-card {
    font-size: 15px;
    height: 30px;
    padding: 20px;
    svg {
      scale: 0.8;
    }
  }
}

@media screen and (min-width:501px) and (max-width:800px) {
  .list-card {
    height: 30px;
  }
}
