@import "abstracts/variables";

/* --- LE LOADER --- */
#loading {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  height: 100vh; /* Utiliser vh pour compatibilité max */
  width: 100vw;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: $background-color;
  user-select: none;

  /* Transitions douces */
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease, visibility 0.5s ease;

  /* État caché (ajouté par JS) */
  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none; /* Important : permet de cliquer au travers pendant le fade-out */
  }
}

.loader-bg {
  padding: 24px;
  background-color: $background-color;
  border-radius: 50%;
}

#loading video {
  width: 20vw;
  aspect-ratio: 1/1;
}

/* --- CONTENU (Visible par défaut) --- */
#content {
  opacity: 1;
  transition: opacity 0.5s ease;
}

body.overflow-hidden {
  overflow: hidden;
}

/* --- MEDIA QUERIES --- */
@media screen and (max-width: 768px) {
  #loading video {
    width: 30vw;
  }
}

@media screen and (max-width: 1024px) {
  #loading img {
    width: 124px;
  }
}

/* --- CRITIQUE POUR LE SPEED INDEX & SEO --- */
/* Si JS est désactivé (ou pour les robots), on cache le loader immédiatement */
@noscript {
  #loading {
    display: none !important;
  }
  #content,
  footer {
    display: block !important;
  }
}
