@import 'abstracts/variables';

#loading {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  height: 100dvh;
  width: calc(100vw - 350px);
  user-select: none;
}

@media screen and (min-width:0px) and (max-width: 768px) {
  #loading {
    width: 100vw;
  }
  #loading video {
    width: 30vw;
  }
}

.loader-bg {
  padding: 24px;
  background-color: $background-color;
  border-radius: 50%;
}

#loading video {
  width: 20vw;
  aspect-ratio: 1/1;
}

#content {
  display: none;
}

@media screen and (min-width: 0px) and (max-width: 1024px) {
  #loading img {
    width: 124px;
  }
}