@import "abstracts/variables";

#loading {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  height: 100dvh;
  width: calc(100vw - 350px);
  user-select: none;
  transition: opacity 0.5s ease, visibility 0.5s ease;
  background-color: $background-color;
}
body.overflow-hidden {
  overflow: hidden;
}
.main-show #loading {
  width: 100vw;
}
.loader-bg {
  padding: 24px;
  background-color: $background-color;
  border-radius: 50%;
}

#loading video {
  width: 20vw;
  aspect-ratio: 1/1;
}

@media screen and (min-width: 0px) and (max-width: 768px) {
  #loading {
    width: 100vw;
  }
  #loading video {
    width: 30vw;
  }
}

@media screen and (min-width: 0px) and (max-width: 1024px) {
  #loading img {
    width: 124px;
  }
}
