@import 'abstracts/variables';

.popup {
  display: none;
  position: fixed;
  justify-content: center;
  align-items: start;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  overflow: auto;
}

.popup-content {
  margin-top: 10dvh;
  background-color: $secondary-color;
  border-radius: 10px;
  z-index: 1000;
  width: 700px;
  padding-bottom: 45px;
  margin-bottom: 32px;
}

.popup-inner {
  padding: 0 2.5vw;
}

.top-popup {
  border-radius: 10px 10px 0 0;
  height: 80px;
  width: 90%;
  background-color: $background-color;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 5%;
}

.popup .popup-content form {
  padding: 0 50px;
}

.close-popup {
  scale: 0.7;
  cursor: pointer;
}

.close-popup:hover {
  opacity: 0.6;
}

.flex-title-popup {
  margin-top: 32px;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
}

.title-popup {
  color: $primary-color;
  font-weight: 500;
  font-size: 24px;
  margin: 32px 0;
}

.subtitle-popup {
  color: $primary-color;
  font-weight: 500;
  font-size: 20px;
  margin: 16px 0;
}

.popup-link-add {
  padding: 0;
  font-size: 18px;
  color: $primary-color;
  text-decoration: underline;
}

.popup-decoration {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  width: 100%;
  height: 250px;
  background-color: #333333;
  margin: 32px 0;
}

.popup .button {
  width: fit-content;
  margin-top: 24px;
}


@media screen and (min-width: 0px) and (max-width: 425px) {
  .top-popup {
    height: 70px;
  }

  .close-popup {
    scale: 0.6;
  }

  .popup-content {
    width: 90vw;
  }

  .flex-title-popup {
    flex-direction: column;
    margin-top: 24px;
    padding: 0 16px;
    gap: 8px;
  }

  .title-popup {
    font-size: 18px;
  }

  .popup-link-add {
    width: fit-content;
    font-size: 16px;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .top-popup {
    height: 70px;
  }

  .popup-content {
    width: 90vw;
  }

  .flex-title-popup {
    margin-top: 24px;
    padding: 0 30px;
  }

}



// Save Liste
.box-list {
  padding: 0px 50px;
  align-items: center;
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
}

.box-list-left {
  display: flex;
  align-items: center;
}

.box-list svg {
  scale: 0.9;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  path {
    fill: $primary-color;
  }
}

.img-list {
  width: 80px;
  height: 80px;
  background-color: #d1d1d1;
  border-radius: 5px;
  margin-right: 16px;
}

.title-list {
  font-size: 20px;
  color: #202020;
  margin-bottom: 8px;
  font-weight: 500;
}

.nb-list {
  font-size: 16px;
  color: #8D9299;
}

.hover-btn {
  display: none;
}

.add-to-list-btn {
  padding: 0;
}

@media screen and (min-width: 446px) and (max-width: 768px) {
  .box-list {
    padding: 0px 40px;
  }

  .box-list svg {
    scale: 0.8;
  }

  .title-list {
    font-size: 18px;
    margin-bottom: 4px;
  }

  .img-list {
    width: 60px;
    height: 60px;
  }


}

@media screen and (min-width: 0px) and (max-width: 445px) {
  .box-list {
    padding: 0px 16px;
  }

  .box-list svg {
    scale: 0.8;
  }

  .img-list {
    width: 60px;
    height: 60px;
  }

  .title-list {
    font-size: 18px;
    margin-bottom: 4px;
  }

  .nb-list {
    font-size: 14px;
  }

}

body.dark-mode {
  .title-popup {
    color: $primary-color-dark;
  }

  .popup-link-add {
    color: $primary-color-dark;
  }

  .subtitle-popup {
    color: $primary-color-dark;
  }

  .top-popup {
    background-color: $background-color-dark;
  }

  .popup-content {
    background-color: $secondary-color-dark;
  }

  .box-list svg path {
    fill: $primary-color-dark;
  }

  .close-popup {
    path {
      fill: $primary-color-dark;
    }
  }
}