@import 'variables';

.button {
  display: block;
  color: $primary-color;
  background-color: $secondary-color;
  padding: 20px 45px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  text-align: center;

  &:hover {
    background-color: #EDEDED;
  }
}
.large {
  padding: 25px 125px;
}
.dark {
  background-color: $primary-color;
  color: #FFF;
  &:hover{
    background-color: $primary-color;
    opacity: 0.8;
  }
}
