/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import 'abstracts/variables';

@import 'base/reset';
@import 'base/font';

@import 'components/alert';
@import 'components/button';
@import 'components/card';
@import 'components/form';
@import 'components/popup';

@import 'layout/header';
@import 'layout/search';

@import 'pages/defaultpage';
@import 'pages/homepage';
@import 'pages/log';
@import 'pages/reference';


html{
  overflow-x: hidden;
}

body {
  font-family: "IBM Plex Sans";
  background-color: #F7F7F7;
  overflow-x: hidden;
}
main{
  margin-left: 350px;
  width: calc(100vw - 350px);
}
.main-show {
 margin-left: 0;
  width: auto;
}
#content{
  padding-bottom: 80px;
}
.no-scroll {
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  main{
    margin-left: 0;
    width: auto;
  }
}


.grid {
  padding: 8vw;
}
/* Home Page */

.subtitle-top {
  font-size: 20px;
  font-weight: 500;
  margin-top: 24px;
}

.subtitle {
  width: 60vw;
  color: #E9E9E9;
  font-size: 17px;
  line-height: 125%;
}

/* Add elements */

.flex-form {
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  gap: 36px;
}
