.pagination {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

/* Styles par défaut (fond clair) */
.pagination a,
.pagination span {
    margin: 0 5px;
    color: #202020;
    text-decoration: none;
}

.pagination a:hover,
.pagination .current {
    font-weight: 500;
    text-underline-offset: 4px;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

/* Cacher prev/next sauf sur le leaderboard */
body:not([data-action-name="leaderboard"]) .pagination .prev,
body:not([data-action-name="leaderboard"]) .pagination .next {
    display: none !important;
}